{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar muebles con Accesorios</h1>

    <a href="{{ path('mueblesaccesorios') }}" class="btn btn-success">
            Volver al Listado
        </a>
      <hr>      
    {{ form(edit_form) }}
<hr>   
    {{ form(delete_form) }}
{% endblock %}
