{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Listado de Muebles con Accesorio </h1>

      <a href="{{ path('mueblesaccesorios_new') }}" class="btn btn-success"> 
                Crear Nuevo
            </a>
       <hr>         
    <table class="table users-table table-condensed table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('mueblesaccesorios_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.cantidad }}</td>
                <td>
                
                 
                        <a href="{{ path('mueblesaccesorios_show', { 'id': entity.id }) }}" class="btn btn-info"><i class="fa fa-search"></i></a>
                
                        <a href="{{ path('mueblesaccesorios_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="fa fa-edit"></i></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
    {% endblock %}
