{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Crear muebles con Accesorios</h1>
      
     <a href="{{ path('mueblesaccesorios') }}" class="btn btn-primary">
            Volver al Listado
      </a>
          <hr>
    {{ form(form) }}

       
{% endblock %}
