{% extends '::base.html.twig' %}

{% block body -%}

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active" ><a href="#calculadoraTablas" aria-controls="home" role="tab" data-toggle="tab">Calculadora de tablas</a></li>
    <li role="presentation"><a href="#calculadoraAreas" aria-controls="profile" role="tab" data-toggle="tab">Calculadora de áreas</a></li>
   
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="calculadoraTablas">
    <div class="col-lg-10">
            <div class="col-lg-6">
            <br/>

                  <label>Seleccione material</label>
                  <select class="form-control" id="material">
                   <option value="0">Seleccione</option>
                   {% for entities in entity %}
                        <option value="{{ entities.valorcm }}">{{ entities }}</option>
                   {% endfor %} 
                  </select>

                  <label>Ancho en cm</label>
                  <input type="number" class="form-control" placeholder="digite el ancho" id="ancho" />

                  <label>Alto en cm</label>
                  <input type="number" class="form-control" placeholder="digite el alto" id="alto" />

                  <hr>
                  <button type="button" class="btn btn-success btn-lg btn-block" id="btnCalcular">Calcular</button>
                  <hr>
            </div>
            <div class="col-lg-4">
              <label>Valor Total:</label>
              <h1><div id="total"></div><br></h1>
              <div id="resultados"></div>
            </div>
            </div>

    </div>
    <div role="tabpanel" class="tab-pane" id="calculadoraAreas">
      
<div class="col-lg-12">
<br/>
<div class="row visible-print-block">
  <div class="col-md-12">
      <div class="form-inline form-group">
            <select class="form-control col-lg-2" id="materialTablas">
                    <option value="0">Seleccione</option>
               {% for entities in entity %}
                    <option value="{{ entities.id }}">{{ entities }}</option>
               {% endfor %}
            </select>
            <button type="button" id="btnAgregarLamina" class="btn btn-warning">Agregar lámina</button>
            <button type="button" id="AbrirDivAgregar" class="btn btn-success" accesskey="n">Agregar parte</button>
             <button type="button" id="limpiarTablero" class="btn btn-info" accesskey="b">Nuevo</button>
            <hr>
            <span  class="alert alert-success">Área total: <span id="areaTotal" style="display: none;"></span></span>
            <span  class="alert alert-warning">Área usada: <span id="areaTotalUsada" style="display: none;"></span></span>
            <span  class="alert alert-danger">Desperdicio: <span id="areaTotalDesperdiciada" style="display: none;"></span> %</span>
            <hr>


      </div> 
  </div>
  <div class="col-md-8" style="background-color: #f8f8f8;" id="tablero" >
      <div id="reglaSuperior"></div>
      <div id="reglaVertical" style="display: inline-block; margin-top: 2px;" class="hidden-print"></div>
      <div id="DivLamina" style="display: inline-block; padding:1px;"></div>
      <div id="reglaVerticalDerecha" style="display: inline-block; margin-top: 2px;" class="hidden-print"></div>
      <div id="reglaInferior"></div>
  </div>
</div>

<div id="DivAgregarCorte"> 
    
          <label>Ancho en cm</label>
          <input type="number" class="form-control" placeholder="digite el ancho" id="anchoNuevo" />
          <br>
          <label>Alto en cm</label>
          <input type="number" class="form-control" placeholder="digite el alto" id="altoNuevo" />
          <br>
          <label>Color</label>
          <input type="color" class="form-control" placeholder="digite el alto" id="colorNuevo" value="#1eb5f1">      
          <hr>
          <button type="button" style="margin: 5px;" class="btn btn-success btn-lg btn-block" id="btnAgregarNuevaForma">Calcular</button>
          <hr>
         
  </div>


</div> 
      {#<br>
      <hr>
        <a href="#" id="imprimir" class="btn btn-primary"><i class="fa fa-print"></i> Imprimir</a>     
      <hr>
      #}
    </div>
   
  </div>

</div>


{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/admin/persistence/lib/persistence.js') }}"></script>
<script src="{{ asset('bundles/admin/persistence/lib/persistence.store.sql.js') }}"></script>
<script src="{{ asset('bundles/admin/persistence/lib/persistence.store.websql.js') }}"></script>
<script src="{{ asset('bundles/admin/js/JQueryRotate.js') }}"></script>
<script src="{{ asset('bundles/admin/persistence/functions.js') }}"></script>
<script src="{{ asset('bundles/admin/persistence/model/Lamina.js') }}"></script>
<script src="{{ asset('bundles/admin/persistence/model/Sincronizar.js') }}"></script>
{% set ruta = path('webservice_catalogo') %}

<script type="text/javascript">
   Lamina.all().filter('id','<>', '').destroyAll(function(){
        persistence.flush();
   });
</script>


  <script type="text/javascript">
 

    setTimeout(function() {
        {% for entities in entity %}

            var idBaseDatos = "{{ entities.id }}";
            var tipoLamina = "{{ entities.tipoLamina }}";
            var descripcion = "{{ entities.descripcion }}";
            var ancho = "{{ entities.ancho }}";
            var alto = "{{ entities.alto }}";
            var valor = "{{ entities.valor }}";
            var valorCm = "{{ entities.valorCm }}"; 

            createLamina(idBaseDatos,tipoLamina,descripcion,ancho,alto,valor,valorCm);
      
        {% endfor %}
     }, 2000);
    
  </script>



<script type="text/javascript">
  var ruta = "{{ ruta }}";
  // $.sincronizar(ruta);
</script>



<script type="text/javascript">
  $(document).ready(function(){
     
      var valorcm = 0;
      var ancho = 0;
      var alto = 0;
      var valorTotal = 0;
      var textValor = "";
  
      $('select#material').on('change',function(){
          valorcm = ($(this).val());
          textValor = $( "#material option:selected" ).text();
      });

      $('#ancho').on('change',function(){
          ancho = $(this).val();
      });

      $('#alto').on('change',function(){
          alto = $(this).val();
      });

      $.eventoBorrar = function(){
           $( ".elementoGuardado").unbind( "click" );
           $('.elementoGuardado').click(function(event){
                  event.preventDefault();
                  $(this).hide();

                 var valorOriginal = 0;
                 var valorOriginal = valorTotal;
                 var id = $(this).attr('id');
                // alert("Valor clicado " + $(this).attr('id') );
                 console.log("==================================");
                 console.log("valor a restar " + id);
                 console.log("valor original " + valorOriginal);
                 valorTotal = valorOriginal  - id; 
                 console.log("Valor final " + valorTotal); 
                 console.log("==================================");
                 $('#total').number(valorTotal,0);
                 //$('#total').text("$... " + valorTotal.toFixed(0));
           });
      }
       
      $('#btnCalcular').click(function(){
          var valor = (ancho) * (alto) * (valorcm);
          console.log(" Hola "+valorcm+" "+ ancho + " "+alto);
          valorTotal = (valorTotal) + (valor); 
          $('#resultados').append("<a href='#' id='"+valor.toFixed(2)+"'' class='elementoGuardado' ><i class='fa fa-trash-o'></i>  ("+textValor+")  $..."+valor.toFixed(2)+" - ("+ancho+"x"+alto+") - <br></a> ");
         
          $('#total').number(valorTotal,0);//text("$... "+valorTotal.toFixed(0));
          $.eventoBorrar();
      })
  });


  
</script>

<script type="text/javascript">
  // Create a jquery plugin that prints the given element.
jQuery.fn.print = function(){
  // NOTE: We are trimming the jQuery collection down to the
  // first element in the collection.
  if (this.size() > 1){
    this.eq( 0 ).print();
    return;
  } else if (!this.size()){
    return;
  }

  // ASSERT: At this point, we know that the current jQuery
  // collection (as defined by THIS), contains only one
  // printable element.

  // Create a random name for the print frame.
  var strFrameName = ("printer-" + (new Date()).getTime());

  // Create an iFrame with the new name.
  var jFrame = $( "<iframe name='" + strFrameName + "'>" );

  // Hide the frame (sort of) and attach to the body.
  jFrame
    .css( "width", "1px" )
    .css( "height", "1px" )
    .css( "position", "absolute" )
    .css( "left", "-9999px" )
    .appendTo( $( "body:first" ) )
  ;

  // Get a FRAMES reference to the new frame.
  var objFrame = window.frames[ strFrameName ];

  // Get a reference to the DOM in the new frame.
  var objDoc = objFrame.document;

  // Grab all the style tags and copy to the new
  // document so that we capture look and feel of
  // the current document.

  // Create a temp document DIV to hold the style tags.
  // This is the only way I could find to get the style
  // tags into IE.
  var jStyleDiv = $( "<div>" ).append(
    $( "style" ).clone()
    );

  // Write the HTML for the document. In this, we will
  // write out the HTML of the current element.
  objDoc.open();
  objDoc.write( "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">" );
  objDoc.write( "<html>" );
  objDoc.write( "<body>" );
  objDoc.write( "<head>" );
  objDoc.write( "<title>" );
  objDoc.write( document.title );
  objDoc.write( "</title>" );
  objDoc.write( jStyleDiv.html() );
  objDoc.write( "</head>" );
  objDoc.write( this.html() );
  objDoc.write( "</body>" );
  objDoc.write( "</html>" );
  objDoc.close();

  // Print the document.
  objFrame.focus();
  objFrame.print();

  // Have the frame remove itself in about a minute so that
  // we don't build up too many of these frames.
  setTimeout(
    function(){
      jFrame.remove();
    },
    (60 * 1000)
    );
}

</script>



<script type="text/javascript">

  $(document).ready(function() {
    $('#imprimir').click(function(event){
        event.preventDefault();
        $( "#tablero" ).print();
        return( false );
    });
   }) 
</script>




{% endblock %}