{% extends '::base.html.twig' %}

{% block body -%}


<div class="col-lg-6">

<a href="#" id="abrir" class="btn btn-primary" onclick="abrir()">Editar información</a>
  
	<table class="table table-bordered">
		<tr>
			<th class="active">Razón social:</th>
			<td><em>{{ datos.razonSocial|title }}</em></td>
		</tr>
		
		<tr>
			<th class="active">NIT:</th>
			<td><em>{{ datos.nit }}</em></td>
		</tr>
		<tr>
			<th class="active">Dirección:</th>
			<td><em>{{ datos.direccion }}</em></td>
		</tr>
		<tr>
			<th class="active">Página web:</th>
			<td><em><a href="{{ datos.paginaWeb }}" target="_blank">{{ datos.paginaWeb }}</a></em></td>
		</tr>
		<tr>
			<th class="active">Email:</th>
			<td><em>{{ datos.email }}</em></td>
		</tr>
		<tr>
			<th class="active">Estado:</th>
			<td><em>{{ datos.estado }}</em></td>
		</tr>
		{% for representante in representantesLegales %}
		<tr>
			<th class="active">Representante legal:</th>
			<td><em>{{ representante }}</em></td>
		</tr>
		{% else %}

		{% endfor %}
		{% if infoPago != null %}
		<tr>
			<th colspan="2" class="success" style="text-align:center; color: #000">Información de pago</th>
		</tr>
		<tr>
			<th class="active">Fecha acordada pagos:</th>
			<td>Todos los {{ infoPago.dia }}</td>
		</tr>
		<tr>
			<th class="active">Valor mensual acordado:</th>
			<td>$... {{ infoPago.valorAcordado|number_format(0) }}</td>
		</tr>
		<tr>
			<th class="active">Fecha acuerdo:</th>
			<td>{{ infoPago.fechaAcuerdo|date("d, m-Y") }}</td>
		</tr>
		{% endif %}

	</table>
</div>
<div class="col-lg-4">
	<table class="table table-bordered">
		<thead>
			<tr class="active">
				<th>No.</th>
				<th>Fecha pago</th>
				<th>Valor</th>
			</tr>
		</thead>
		<tbody>
		  {% for pago in pagosTotales %}
			<tr>
				<td>{{ loop.index }}</td>		
				<td>{{ pago.fechaPago|date("d, M-Y") }}</td>		
				<td>$...{{ pago.valor|number_format(0) }}</td>		
			</tr>
		  {% endfor %}	
		</tbody>
	</table>
</div>
<div class="col-lg-12">
	<a href="#" class="btn btn-success" id="actualizarPartes"><i class="fa fa-user"></i> Actualizar partes</a>
	<a href="#" class="btn btn-warning" id="actualizarMuebles"><i class="fa fa-file-o"></i> Actualizar muebles</a>
</div>
<!-- Button trigger modal -->


<!-- Modal -->
<div id="myModal">
  <form action="{{ path('admin_configuraciones') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <br>
    <input type="submit" value="Actualizar" class="btn btn-success" />
</form>
</div>

{% endblock %}
{% block javascripts %}
{{ parent() }}

{% set ruta = path('admin_config_actualizar', {'tipo': 'tipoActualizacion' }) %}

<script type="text/javascript">
	var ruta = '{{ ruta }}';
	function abrir(){
		$( "#myModal" ).dialog( "open" );
	};

	$( "#myModal" ).dialog({
		  autoOpen: false,
		  resizable: true,
		  modal: true
		});
	
	$('#actualizarPartes').click(function(event){
		event.preventDefault();
		if(confirm('¿Está seguro de actualizar el valor de todas las partes Mueble del catálogo? Recuerde que esta acción no se puede deshacer...')){
			$.actualizar('partes');
		}else{
			return false;
		}
	})

	$('#actualizarMuebles').click(function(event){
		event.preventDefault();
		alert("Funcionalidad desarrollada al 40%... Esperamos tenerla lista muy pronto....");
		/**if(confirm('¿Está seguro de actualizar el valor de todas los Modelos de Muebles del catálogo? Recuerde que esta acción no se puede deshacer...')){
			$.actualizar('modelos');
		}else{
			return false;
		}*/
	})

	$.actualizar = function(tipoActualizacion){
		 var rutaModificada = ruta.replace('tipoActualizacion',tipoActualizacion);
		 $.get(rutaModificada,function(data, status){
         		alert(data);         
         });
	}
</script>
{% endblock %}