{% extends '::base.html.twig' %}

{% block body -%}
    	<!-- Info Boxes -->
  						<div class="row">
  							<div class="col-md-4">
  								<div class="info-box  bg-info  text-white" id="mueble">
  									<div class="info-icon bg-info-dark">
  										<i class="fa fa-shopping-cart fa-4x"></i>
  									</div>
  									<div class="info-details">
  										<h4>Crear Mueble y  <span class="pull-right"></span></h4>
  										<p>CLIENTE  <span class="badge pull-right bg-white text-info"> <i class="fa fa-arrow-up fa-1x"></i> </span> </p>
  									</div>
  								</div>
  							</div>
  							<div class="col-md-4">
  								<div class="info-box  bg-success  text-white" id="nuevo">
  									<div class="info-icon bg-success-dark">
  										<i class="fa fa-cloud-download fa-4x"></i>
  									</div>
  									<div class="info-details">
  										<h4>Crear Mueble  <span class="pull-right"></span></h4>
  										<p>Directamente<span class="badge pull-right bg-white text-success"> <i class="fa fa-arrow-up fa-1x"></i> </span> </p>
  									</div>
  								</div>
  							</div>
  							
  						</div>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% set ruta = path('clientes_newdefault') %}
{% set ruta2 = path('muebles_new') %}
<script>

  var rutaAjustada = "{{ ruta }}"
	var rutaAjustada2 = "{{ ruta2 }}"
	$(document).ready(function(){
		
    $('#mueble').click(function(){
			window.location.href = rutaAjustada;
		});

    $('#nuevo').click(function(){
      window.location.href = rutaAjustada2;
    });

	});
</script>

{% endblock %}