<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ datos.razonSocial }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
      
		  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
      <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <![endif]-->
        {% block stylesheets %}
            {% stylesheets output='css/adminstyle.css' filter='yui_css' debug=false 
            'bundles/admin/css/bootstrap.css'
            'bundles/admin/css/style.css'
            'bundles/admin/css/jquery.dataTables.min.css'            
            'bundles/admin/css/notifIt.css'
            'bundles/admin/js/calcu/jquery.calculator.css'
            'bundles/admin/css/bootstrap.min.css'
            'bundles/admin/css/jquery-ui.css'
            
             -%}
                <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="all" />
            {% endstylesheets %}

              <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body {% block onbody %}{% endblock %}>
        <div class="site-holder">
  		<!-- this is a dummy text -->
  		<!-- .navbar -->
  		<nav class="navbar" role="navigation">

  			<!-- Brand and toggle get grouped for better mobile display -->
  			<div class="navbar-header">
  				<a class="navbar-brand" href="#"><i class="fa fa-list btn-nav-toggle-responsive text-white"></i> <span class="logo">{{ datos.razonSocial }} <i class="fa fa-bookmark"></i></span></a>
  			</div>

  			<!-- Collect the nav links, forms, and other content for toggling -->
  			<div class="collapse navbar-collapse">
  				<ul class="nav navbar-nav user-menu navbar-right ">

  					<li><a href="#" class="user dropdown-toggle" data-toggle="dropdown"><span class="username"><img src="{{ asset('bundles/admin/img/profiles/eleven.png') }}" class="user-avatar" alt="">  {{ app.user.firstname }} {{ app.user.lastname }} </span></a>
  						<ul class="dropdown-menu">
  							<li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> Mi perfil</a></li>
  						{#	<li><a href="#"><i class="fa fa-envelope"></i> Inbox</a></li> #}
  							<li><a href="{{ path('admin_configuraciones') }}"><i class="fa fa-cogs"></i> Configuraciones</a></li>
  							<li class="divider"></li>
  							<li><a href="{{ path('usuarios_logout') }}" class="text-danger"><i class="fa fa-lock"></i> Cerrar sesión</a></li>
  						</ul>
  					
  							</li>
  							
  						</ul>
  					</div><!-- /.navbar-collapse -->
  				</nav> <!-- /.navbar -->

  				<!-- .box-holder -->
  				<div class="box-holder">

  					<!-- .left-sidebar -->
  					<div class="left-sidebar">
  						<div class="sidebar-holder">
              {% if is_granted('ROLE_SUPER_ADMIN') %}     
                {{ knp_menu_render('AdminBundle:Builder:superMenu', {'currentClass':'active', 'template': 'AdminBundle:Menu:knp_menu.html.twig'}) }}
              {% endif %} 
              <br/>
              {% if is_granted('ROLE_ADMIN') %}     
                {{ knp_menu_render('AdminBundle:Builder:mainMenu', {'currentClass':'active', 'template': 'AdminBundle:Menu:knp_menu.html.twig'}) }}
              {% endif %}
              </div>
  					</div> <!-- /.left-sidebar -->
            </ul>
  					<!-- .content -->
  					<div class="content">



  						<div class="row">
  							<div class="col-mod-4">
  								<h5 class="page-header"><i class="fa fa fa-dashboard"></i> Inicio  <i class="fa fa-info-circle animated bounceInDown show-info"></i>  
                  <a href="{{ path('admin_calculadora') }}" class="btn btn-warning btn-mini" target="popup" onclick="window.open('', 'popup', 'width=1040,height=700')"> <i class="fa fa-calculator"></i> Calculadora de Tablas</a>   
                  <a href="https://drive.google.com/folderview?id=0ByIEDgsLxYtKfno5QzhEdV80aVdROExXQzN3S01kTWpDUEpDZHZWTVlzcE9pbUVua3Jidm8&usp=sharing" class="btn btn-info btn-mini" target="_blank">Descargar Calculadora</a>  
                  
                 
                  

                  {% for pago in pagos %}
                     {#{ pago.fechaPago|date('d-M-Y') }}
                     {{ fechaPagoProxima|date('d-M-Y') }}
                     {{ "now"|date("d-m-Y") }#}
                    
                     {% if pago.fechaPago|date('M-Y') == fechaPagoProxima|date('M-Y') %}
                                        
                                        
                     {% else %}  

                           {% if "now"|date("d-m-Y") > fechaPagoProxima|date_modify('-5days')|date('d-M-Y') and "now"|date("d-m-Y") < fechaPagoProxima|date('d-M-Y') %}

                                <em style="float: right; margin-right: 150px; color: green;"> Próximo vencimiento: {{ fechaPagoProxima|date('d-M-Y') }}</em>

                          {% elseif "now"|date("d-m-Y") >= fechaPagoProxima|date('d-M-Y') and "now"|date("d-m-Y") < fechaPagoProxima|date_modify('+3days')|date('d-M-Y') %}
                                
                                <em style="float: right; margin-right: 150px; color: cian;"> Vencimiento: {{ fechaPagoProxima|date('d-M-Y') }}</em>

                          {% elseif "now"|date("d-m-Y") >= fechaPagoProxima|date_modify('+3days')|date('d-M-Y') %}
                                
                                <em style="float: right; margin-right: 150px; color: red;"> Vencimiento: {{ fechaPagoProxima|date('d-M-Y') }}</em>
                                   
                
                          {% endif %}

                     {% endif  %}
                                    

                  {% endfor %}



                             
                 
                  </em>
                  </h5>

               
                
  								<blockquote class="page-information hidden">
  									<p>
  										Este software ha sido diseñado por @tucompualdia.
  									</p>
  								</blockquote>
  							</div>
                <div class="col-mod-4">
                                  
                </div>
  						</div>
                                            
                                            {% for flashMessage in app.session.flashbag.get('notice') %} 
                                                <div class="container">
                                                 
                                                       <div class="alert alert-info"><strong>{{ flashMessage }}</strong></div>
                                                 
                                                </div>
                                          {% endfor %}  

{% block body %}
  					
  						


{% endblock %}
  						<div class="footer">
  							© 2014-{{ "now"|date("Y") }} <a href="http://tucompualdia.net">Desarrollado por Tu compu al día</a>
  						</div>

  					</div> <!-- /.content -->

  					<!-- .right-sidebar -->
  					<div class="right-sidebar right-sidebar-hidden">
  						<div class="right-sidebar-holder">

  							<!-- @Demo part only The part from here can be removed till end of the @demo  -->
  							<a href="{{ path('usuarios_logout') }}" class="btn btn-danger btn-block">Salir </a>


  							<h4 class="page-header text-primary text-center">
  								Theme Options
  								<a  href="#"  class="theme-panel-close text-primary pull-right"><strong><i class="fa fa-times"></i></strong></a>
  							</h4>

  							<ul class="list-group theme-options">
  								<li class="list-group-item" href="#">	
  									<div class="checkbox">
  										<label>
  											<input type="checkbox" id="fixedNavbar" value=""> Fixed Top Navbar
  										</label>
  									</div>
  									<div class="checkbox">
  										<label>
  											<input type="checkbox" id="fixedNavbarBottom" value=""> Fixed Bottom Navbar
  										</label>
  									</div>
  									<div class="checkbox">
  										<label>
  											<input type="checkbox" id="boxed" value=""> Boxed Version
  										</label>
  									</div>

  									<div class="form-group backgroundImage hidden" >
  										<label class="control-label">Paste Image Url and then hit enter</label>
  										<input type="text" class="form-control" id="backgroundImageUrl" />
  									</div>
				<!-- 
				<div class="checkbox">
					<label>
						<input type="checkbox" id="responsive" value=""> Disable Responsiveness
					</label>
				</div> 
			-->			
		</li>
		<li class="list-group-item" href="#">Predefined Themes
			<ul class="list-inline predefined-themes"> 
				<li><a class="badge" style="background-color:#54b5df" data-color-primary="#54b5df" data-color-secondary="#2f4051" data-color-link="#FFFFFF"> &nbsp; </a></li>
				<li><a class="badge" style="background-color:#d85f5c" data-color-primary="#d85f5c" data-color-secondary="#f0f0f0" data-color-link="#474747"> &nbsp; </a></li>
				<li><a class="badge" style="background-color:#3d4a5d" data-color-primary="#3d4a5d" data-color-secondary="#edf0f1" data-color-link="#777e88"> &nbsp; </a></li>
				<li><a class="badge" style="background-color:#A0B448" data-color-primary="#A0B448" data-color-secondary="#485257" data-color-link="#AFB5AA"> &nbsp; </a></li>
				<li><a class="badge" style="background-color:#2FA2D1" data-color-primary="#2FA2D1" data-color-secondary="#484D51" data-color-link="#A5B1B7"> &nbsp; </a></li>
				<li><a class="badge" style="background-color:#2f343b" data-color-primary="#2f343b" data-color-secondary="#525a65" data-color-link="#FFFFFF"> &nbsp; </a></li>
			</ul>
		</li>
		<li class="list-group-item" href="#">Change Primary Color
			<div class="input-group colorpicker-component bscp" data-color="#54728c" data-color-format="hex" id="colr">
				<span class="input-group-addon"><i style="background-color: #54728c"></i></span>
				<input type="text" value="#54728c" id="primaryColor" readonly class="form-control" />

			</div>
		</li>
		<li class="list-group-item" href="#">Change LeftSidebar Background
			<div class="input-group colorpicker-component bscp" data-color="#f9f9f9" data-color-format="hex" id="Scolr">
				<span class="input-group-addon"><i style="background-color: #f9f9f9"></i></span>
				<input type="text" value="#f9f9f9" id="secondaryColor" readonly class="form-control" />
                                
			</div>
		</li>
		<li class="list-group-item" href="#">Change Leftsidebar Link Color
			<div class="input-group colorpicker-component bscp" data-color="#54728c" data-color-format="hex" id="Lcolr">
				<span class="input-group-addon"><i style="background-color: #54728c"></i></span>
				<input type="text" value="#54728c" id="linkColor" readonly class="form-control" />

			</div>
		</li>
		<li class="list-group-item" href="#">Change RightSidebar Background
			<div class="input-group colorpicker-component bscp" data-color="#f9f9f9" data-color-format="hex" id="Rcolr">
				<span class="input-group-addon"><i style="background-color: #f9f9f9"></i></span>
				<input type="text" value="#f9f9f9" id="rightsidebarColor" readonly class="form-control" />

			</div>
		</li>
	</li>
</ul>



</div>	<!-- /.right-sidebar-holder -->
</div>  <!-- /.right-sidebar -->


</div> <!-- /.box-holder -->
</div><!-- /.site-holder -->


        {% block javascripts %}

          {% javascripts output='js/adminscript.js' filter='yui_js' 
            debug=false
            'bundles/admin/js/jquery-1.10.2.min.js'
            'bundles/admin/js/jquery-ui-1.10.3.custom.min.js'
            'bundles/admin/js/less-1.5.0.min.js'
            'bundles/admin/js/jquery.ui.touch-punch.min.js'
            'bundles/admin/js/bootstrap.min.js'
            'bundles/admin/js/bootstrap-select.js'
            'bundles/admin/js/bootstrap-switch.js'
            'bundles/admin/js/jquery.tagsinput.js'
            'bundles/admin/js/jquery.placeholder.js'
            'bundles/admin/js/bootstrap-typeahead.js'
            'bundles/admin/js/application.js'
            'bundles/admin/js/moment.min.js'
            'bundles/admin/js/jquery.dataTables.min.js'
            'bundles/admin/js/jquery.sortable.js'
            'bundles/admin/js/jquery.gritter.js'
            'bundles/admin/js/jquery.nicescroll.min.js'
            'bundles/admin/js/prettify.min.js'
            'bundles/admin/js/jquery.noty.js'
            'bundles/admin/js/bic_calendar.js'
            'bundles/admin/js/jquery.accordion.js'
            'bundles/admin/js/skylo.js'
            'bundles/admin/js/jquery.number.min.js'
            'bundles/admin/js/raphael-min.js'
            'bundles/admin/js/core.js'
            'bundles/admin/js/dashboard-custom.js'
            'bundles/admin/js/jquery.PrintArea.js'
            'bundles/admin/js/jquery.timer.js'
            'bundles/admin/js/calcu/jquery.plugin.js'
            'bundles/admin/js/calcu/jquery.calculator.js'            
            -%}
            
            <script src="{{ asset_url }}"></script>
          {% endjavascripts %}
          <script type="text/javascript" src="{{ asset('bundles/admin/js/notifIt.js') }}"></script>
          
        {% endblock %}
    </body>
</html>
