{% set currentRoute = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}BIENVENIDOS{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    
    {% block stylesheets %}
    {% stylesheets 'bundles/tpuser/bootstrap/css/bootstrap.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        margin: 50px;
      }
    </style>        
    {% endblock %}    
  </head>
  <body>
 <div class="container">
	<div class="row clearfix">
		<div class="col-md-12">     
    {% block nav %}
    {% include "TPUserBundle::nav.html.twig" %}      
    {% endblock %}
          
     <div class="container-fluid">
                                  <div class="row">
                                     
                                          {% for type, messages in app.session.flashbag.all() %}
                                            {% for message in messages %}
                                                <div class="alert alert-info">
                                                    <strong>{{ message }}</strong>
                                                </div>
                                            {% endfor %}
                                          {% endfor %}
    {% block body %}
    {% endblock %}
                                  </div>
     </div>
                </div>
        </div>
 </div>
      <script type="text/javascript" src="{{ asset('bundles/admin/js/jquery-1.10.2.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/admin/js/bootstrap.min.js') }}"></script>
	  {% block javascript %}
    {% javascripts
        '@TPUserBundle/Resources/public/bootstrap/js/bootstrap.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}          
    {% endblock %}
  </body>
</html>
