<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">{{ datos.razonSocial|title }}</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
           <li ><a href="#">{{ app.user }}</a></li>
         {% if is_granted('ROLE_ADMIN') %} <li class="{{ currentRoute == 'tp_user' ? 'active' : '' }}"><a href="{{ path('tp_user') }}">Usuarios</a></li>
          <li><a href="{{ path("fos_user_profile_show") }}" class="{{ currentRoute == 'tp_user' ? 'active' : '' }}">Perfil</a></li>
          {% if is_granted('ROLE_SUPER_ADMIN') %}
             <li class="{{ currentRoute == 'tp_usergroup' ? 'active' : '' }}"><a href="{{ path('tp_usergroup') }}">Grupos</a></li>
          {% endif %}   
             <a class="btn btn-small btn-inverse" style="float:left" href="{{ path('fos_user_security_logout') }}"><i class="icon-white icon-off"></i> Salir</a>
         {% elseif is_granted('ROLE_ADMIN') %}
         <li><a href="{{ path("fos_user_profile_show") }}" class="{{ currentRoute == 'tp_user' ? 'active' : '' }}">Perfil</a></li>
         <a class="btn btn-small btn-inverse" style="float:left" href="{{ path('fos_user_security_logout') }}"><i class="icon-white icon-off"></i> Salir</a>
         {% endif %}
        </ul>
          
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>      
              <a href="{{ path('admin_homepage') }}" class="btn btn-success">Volver al Menú principal</a>
    <hr> 