{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Cotizacion</h1>
    
     <a href="{{ path('cotizacion') }}"class="btn btn-success">
            Volver al Listado
        </a>

    {{ form(edit_form) }}       
    
    {{ form(delete_form) }}
    
{% endblock %}
