{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Listado de Cotizacion</h1>
    
    <a href="{{ path('cotizacion_new') }}" class="btn btn-success">
                Crear Nuevo
            </a>
            <hr>
    <table class="table users-table table-condensed table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Fecha</th>
                <th>Vigencia</th>
                <th>Tipodemueble</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cotizacion_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.vigencia %}{{ entity.vigencia|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.tipodemueble }}</td>
                <td>
              
                        <a href="{{ path('cotizacion_show', { 'id': entity.id }) }}"class="btn btn-info"><i class="fa fa-search"></i></a>
                        <a href="{{ path('cotizacion_edit', { 'id': entity.id }) }}"class="btn btn-warning"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
