{% extends '::base.html.twig' %}

{% block body -%}
    <h1> Crear Cotizacion</h1>
    
    <a href="{{ path('cotizacion') }}"class="btn btn-success">
            Volver al Listado
        </a>

    {{ form(form) }}

        
        
{% endblock %}
