{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Cotizacion</h1>

    <table class="table users-table table-condensed table-hover">
        <tbody>
            <tr>
                <th>No.</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Vigencia</th>
                <td>{{ entity.vigencia|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Tipodemueble</th>
                <td>{{ entity.tipodemueble }}</td>
            </tr>
        </tbody>
    </table>

      
        <a href="{{ path('cotizacion') }}"class="btn btn-info">
            Volver al Listado
        </a>
            <a href="{{ path('cotizacion_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            Editar
        </a>
            
<button type="button" class="btn btn-danger " data-toggle="modal" data-target="#myModal">
        Borrar
      </button>
    {#{{ form(delete_form) }} #}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Desea borrar?</h4>
      </div>
      <div class="modal-body">
        {{ form(delete_form) }}
      </div>
     
    </div>
  </div>
</div>            
    
{% endblock %}
