{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Crear accesorios partes</h1>
    <a href="{{ path('accesoriospartes') }}" class="btn btn-primary">
        volver al listado
    </a>
        <hr>

    {{ form(form) }}

        

{% endblock %}
