{% extends '::base.html.twig' %}

{% block body -%}
    <h1>accesorios Partes</h1>

    <table class="table users-table table-condensed table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ entity.cantidad }}</td>
            </tr>
        </tbody>
    </table>

       
                <a href="{{ path('accesoriospartes') }}" class="btn btn-info">
            Volver al listado
        </a>
    
        <a href="{{ path('accesoriospartes_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            Editar
        </a>
    {{ form(delete_form) }}

{% endblock %}
