{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Partes de Muebles</h1>

       <a href="{{ path('partesmueble') }}" class="btn btn-success">
            Volver al Listado
        </a>
    
     
    
     <button type="button" class="btn btn-danger " data-toggle="modal" data-target="#myModal">
        Borrar
      </button>     
  <hr>  
   
   {{ form_start(edit_form) }}
    <fieldset>
        {{ form_row(edit_form.tipoParte) }}
    </fieldset>
    <fieldset>
        {{ form_row(edit_form.descripcion) }}
        {{ form_row(edit_form.valorManoObra) }}
        {{ form_row(edit_form.descripcion) }}
        {{ form_row(edit_form.isActive) }}
    </fieldset>
    <fieldset>
        <h1>Frente</h1>
        {{ form_row(edit_form.materialFrente) }}
        {{ form_row(edit_form.anchoFrente) }}
        {{ form_row(edit_form.altoFrente) }}
        {{ form_row(edit_form.flejeFrente) }}
        {{ form_row(edit_form.cmFlejeFrente) }}
    </fieldset>
     <fieldset>
        <h1>Lateral</h1>
        {{ form_row(edit_form.materialLateral) }}
        {{ form_row(edit_form.anchoLateral) }}
        {{ form_row(edit_form.altoLateral) }}
        {{ form_row(edit_form.flejeLateral) }}
        {{ form_row(edit_form.cmFlejeLateral) }}
    </fieldset>
    <fieldset>
        <h1>Trasera</h1>
        {{ form_row(edit_form.materialTrasera) }}
        {{ form_row(edit_form.anchoTrasera) }}
        {{ form_row(edit_form.altoTrasera) }}
        {{ form_row(edit_form.flejeTrasera) }}
        {{ form_row(edit_form.cmFlejeTrasera) }}
    </fieldset>
    
    <fieldset>
        <h1>Fondo</h1>
        {{ form_row(edit_form.materialFondo) }}
    </fieldset>
       
   
    {{ form_end(edit_form) }}
 
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Desea borrar?</h4>
            </div>
            <div class="modal-body">
              {{ form(delete_form) }}
            </div>

          </div>
        </div>
      </div>
     <script>  
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="add_tag_link btn btn-warning btn-sm">Añadir Partes</a>');
        var $newLinkLi = $('<div class="col-lg-12"></div>').append($addTagLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('div.tags');
            
            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });
        
        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<div class="thumbnail col-lg-3"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>').append(newForm);
            $newLinkLi.before($newFormLi);
            addTagFormDeleteLink($newFormLi);
        }
        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<hr><a class="btn btn-danger btn-sm" href="#">Borrar</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // evita crear el enlace con una "#" en la URL
                e.preventDefault();

                // quita el li de la etiqueta del formulario
                $tagFormLi.remove();
            });
        }
</script>

{% endblock %}