{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Listado Partes Muebles</h1>
    
    <a href="{{ path('partesmueble_new') }}" class="btn btn-success">
                Crear Nuevo
            </a>
        <hr>
<div class="table-responsive">
    <table class= "table users-table table-condensed table-hover" id="partes">
        <thead>
            <tr>
                <th>No.</th>
                <th>Estado</th>
                <th>Descripción</th>
                <th>Ancho frente (cm)</th>
                <th>Alto frente (cm)</th>
                <th>Valor</th>
              
                {#<th>Accesorios</th>
                
                <th>Fecha creación</th>
                <th>Fecha edición</th>#}
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('partesmueble_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{% if entity.isActive == true %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i> {% endif %}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.anchoFrente }}</td>
                <td>{{ entity.altoFrente }}</td>
                <td>$....{{ entity.valor|number_format(0,',','.') }}</td>
                
                {#<td>{{ entity.accesorios }}</td>
                
                <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('d, M-Y') }}{% endif %}</td>
                <td>{% if entity.fechaEdicion %}{{ entity.fechaEdicion|date('d, M-Y') }}{% endif %}</td>#}
                <td>
                
                    
                        <a href="{{ path('partesmueble_show', { 'id': entity.id }) }}" class="btn btn-info"> <i class="fa fa-search"></i></a>
                                    
                        <a href="{{ path('partesmueble_edit', { 'id': entity.id }) }}" class="btn btn-warning"> <i class="fa fa-edit"></i></a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    {% endblock %}
     {% block javascripts %}
        {{ parent() }}
       
          <script type="text/javascript">
                $(document).ready(function(){
                        $('#partes').DataTable();
                    });
          </script>
    {% endblock %}    
