{% extends '::base.html.twig' %}

{% block body -%}
    <h1> Creacion Partes Muebles</h1>

     <a href="{{ path('partesmueble') }}" class="btn btn-primary">
            Volver al Listado
     </a>
            <hr>
    {{ form_start(form) }}
    <fieldset>
        {{ form_row(form.tipoParte) }}
        {{ form_row(form.valorManoObra) }}
        {{ form_row(form.descripcion) }}
        {{ form_row(form.isActive) }}
    </fieldset>
    <fieldset id="frente" style="display:none">
        <h1>Frente</h1>
        {{ form_row(form.materialFrente) }}
        {{ form_row(form.anchoFrente) }}
        {{ form_row(form.altoFrente) }}
        {{ form_row(form.flejeFrente) }}
        
    </fieldset>
     <fieldset id="lateral" style="display:none">
        <h1>Lateral</h1>
        {{ form_row(form.materialLateral) }}
        {{ form_row(form.anchoLateral) }}
        {{ form_row(form.altoLateral) }}
        {{ form_row(form.flejeLateral) }}
        
    </fieldset>
    <fieldset id="trasera" style="display:none">
        <h1>Trasera</h1>
        {{ form_row(form.materialTrasera) }}
        {{ form_row(form.anchoTrasera) }}
        {{ form_row(form.altoTrasera) }}
        {{ form_row(form.flejeTrasera) }}
        
    </fieldset>
     <fieldset id="fondo" style="display:none">
        <h1>Fondo</h1>
        {{ form_row(form.materialFondo) }}
    </fieldset>
    
    {{ form_end(form) }}
 
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% set rutaValor1 = path('web_partes_valor',{'parteMueble':"parteMueble" }) %}
     <script>  

  
        $(document).ready(function() {
            var rutaValor1 = "{{ rutaValor1 }}";
            $('#admin_adminbundle_partesmueble_tipoParte').change(function(){
                
                var rutaValor2 = rutaValor1.replace('parteMueble',$(this).val());
                //$.get(rutaValor2,function(data, status){
                //   $('#admin_adminbundle_partesmueble_valorManoObra').val(data);
                // });


                    $.ajax({
                     url: rutaValor2,
                     //force to handle it as text
                     dataType: "text",
                     success: function(data) {
                        
                         var json = $.parseJSON(data);
                         for (var i in json) {
                           $('#admin_adminbundle_partesmueble_valorManoObra').val(json[i]['valor']);  
                           
                           if(json[i]['lateral'] == false){
                                $('#lateral').hide('slide');
                                $('#admin_adminbundle_partesmueble_anchoLateral').val("0.01");
                                $('#admin_adminbundle_partesmueble_altoLateral').val("0.01");
                           }else{
                                $('#lateral').show('slide');

                           }

                           if(json[i]['frente'] == false){
                                $('#frente').hide('slide');
                                $('#admin_adminbundle_partesmueble_anchoFrente').val("0.01");
                                $('#admin_adminbundle_partesmueble_altoFrente').val("0.01");
                           }else{
                                $('#frente').show('slide');

                           }

                           if(json[i]['trasera'] == false){
                                $('#trasera').hide('slide');
                                $('#admin_adminbundle_partesmueble_anchoTrasera').val("0.01");
                                $('#admin_adminbundle_partesmueble_altoTrasera').val("0.01");
                           }else{
                                $('#trasera').show('slide');

                           }

                           if(json[i]['fondo'] == false){
                                $('#fondo').hide('slide');
                           }else{
                                $('#fondo').show('slide');

                           }



                         }
                     }
                    });


               
            });
            
        
        });
        
    
</script>

{% endblock %} 
