{% extends '::base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
{% endblock %} 
{% block body -%}
    <h1>Partes Muebles</h1>
<div class="col-lg-4">
    <table class="table users-table table-condensed table-hover">
        <tbody>
            <tr>
                <th>Descripción</th>
                <td><h2>{{ entity.tipoParte }} - {{ entity.descripcion }}</h2></td>
            </tr>
             <tr>
                <th>Estado</th>
                <td>{% if entity.isActive == true %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i> {% endif %}</td>
            </tr>
             <tr>
                <th>Valor Total</th>
                <td><h3>$ ... {{ entity.valor|number_format(0,',','.') }}</h3> </td>
            </tr>
            <tr>
                <th>Valor Mano obra</th>
                <td>$ ... {{ entity.valorManoObra|number_format(0,',','.') }} </td>
            </tr>
            <tr>
                <th>Ancho frente</th>
                <td>{{ entity.anchoFrente }} cm</td>
            </tr>
            <tr>
                <th>Alto frente</th>
                <td>{{ entity.altoFrente }} cm</td>
            </tr>
            <tr>
                <td>Cantidad frente</td>
                <td>{{ entity.cantidadFrente }} </td>
            </tr>
            <tr>
                <td>Valor Fleje</td>
                <td>$...{{ entity.valorFlejeFrente|number_format(0,',','.') }} </td>
            </tr>
            <tr>
                <td>Valor frente</td>
                <td>$...{{ entity.valorFrente|number_format(0,',','.') }} </td>
            </tr>
            <tr>
                <th>Ancho lateral</th>
                <td>{{ entity.anchoLateral }} cm</td>
            </tr>
            <tr>
                <th>Alto lateral</th>
                <td>{{ entity.altoLateral }} cm</td>
            </tr>
            <tr>
                <td>Cantidad Lateral</td>
                <td>{{ entity.cantidadLateral }} </td>
            </tr>
            <tr>
                <td>Valor Fleje</td>
                <td>$...{{ entity.valorFlejeLateral|number_format(0,',','.') }} </td>
            </tr>
            <tr>
                <td>Valor lateral</td>
                <td>$...{{ entity.valorLateral|number_format(0,',','.') }} </td>
            </tr>
            <tr>
                <th>Ancho Trasera</th>
                <td>{{ entity.anchoTrasera }} cm</td>
            </tr>
            <tr>
                <th>Alto Trasera</th>
                <td>{{ entity.altoTrasera }} cm</td>
            </tr>
            <tr>
                <td>Cantidad Trasera</td>
                <td>{{ entity.cantidadTrasera }} </td>
            </tr>
            <tr>
                <td>Valor Fleje</td>
                <td>$...{{ entity.valorFlejeTrasera|number_format(0,',','.') }} </td>
            </tr>
            <tr>
                <td>Valor Trasera</td>
                <td>$...{{ entity.valorTrasera|number_format(0,',','.') }}</td>
            </tr>
           
            <tr>
                <th>Accesorios</th>
                <td>{% for accesorio in entity.accesorios %}
                    {{ accesorio.cantidad }} {{ accesorio.accesorios.descripcion }}<br>
                    {% endfor %}
                </td>
            </tr>
           
            <tr>
                <th>Fecha creación</th>
                <td>{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fecha edición</th>
                <td>{{ entity.fechaEdicion|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        
        <a href="{{ path('partesmueble') }}"class="btn btn-info">
            Volver al Listado
        </a>
   
           <a href="{{ path('partesmueble_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            Editar
        </a>
      <button type="button" class="btn btn-danger " data-toggle="modal" data-target="#myModal">
        Borrar
      </button> 
        <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Desea borrar?</h4>
      </div>
      <div class="modal-body">
        {{ form(delete_form) }}
      </div>
     
    </div>
  </div>
</div>
         
         </div>
         <div class="col-lg-8">
            
          <div class="form-group">
            <label for="cantidad" class="col-sm-2 control-label">Cantidad</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="cantidad" min="0" step="0.5">
            </div>
          </div>
          <div class="form-group">
            <label for="accesorios" class="col-sm-2 control-label">Accesorios</label>
            <div class="col-sm-10">
              <select class="form-control" id="accesorios">
                        <option value="0">Selecciona...</option>

                    {% for accesorio in accesorios %}
                        <option value="{{ accesorio.id }}">{{ accesorio.ref }} {{ accesorio.descripcion }} ($...{{ accesorio.valor }})</option>
                    {% endfor %}
              </select>
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <a href="#" id="agregarAccesorio" class="btn btn-success">Agregar </a>
              <p></p>
              <hr>
            </div>
            


<h3>Listado de Accesorios</h3>
<hr>
<a href="#" id="recargar" class="btn btn-default btn-sm">Recargar</a>
<hr>
<div id="accesoriosLista">
{% for accesorioParte in accesoriosPartes %}

 <li><a href="#" data-toggle="modal" data-target="#myModal{{ accesorioParte.id }}"><i class="fa fa-edit"></i></a> {{ accesorioParte.cantidad }} {{ accesorioParte.accesorios }} --- $ ... {{ accesorioParte.cantidad * accesorioParte.accesorios.valor }}</li>

<div class="modal fade" id="myModal{{ accesorioParte.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Editar Accesorios</h4>
      </div>
      <div class="modal-body">
         <div class="form-group">
            <label for="cantidad" class="col-sm-2 control-label">Cantidad</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="cantidad{{ accesorioParte.id }}" min="0" step="0.5" value="{{ accesorioParte.cantidad }}">
            </div>
          </div>
          <div class="form-group">
            <label for="accesorios" class="col-sm-2 control-label">Accesorios</label>
            <div class="col-sm-10">
              <select class="form-control" id="accesorios{{ accesorioParte.id }}">
                        <option value="0">Selecciona...</option>

                    {% for accesorio in accesorios %}
                        <option value="{{ accesorio.id }}" {% if accesorio.id == accesorioParte.accesorios.id %}selected{% endif %}>{{ accesorio.ref }} {{ accesorio.descripcion }} ($...{{ accesorio.valor }})</option>
                    {% endfor %}
              </select>
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <a href="#" id="agregarAccesorio{{ accesorioParte.id }}" class="btn btn-default editarA">Editar </a> <a href="#" id="eliminarAccesorio{{ accesorioParte.id }}" class="btn btn-danger eliminarA">Eliminar </a>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
</div>
{% endfor %}
</div>
  </div>

         </div>

{% endblock %} 
{% block javascripts %}
    {{ parent() }}

{% set rutaAccesorios = path('web_insertar_accesorioPartes',{'partemueble': entity.id, 'accesorio':"AccesorioParte", 'cantidad': "Cantidad"}) %}
{% set rutaActualizar = path('web_actualizar_accesorioPartes', { 'accesoriopartemueble':"AccesoriosPartesMuebles",'accesorio':"AccesorioCambiar",'cantidad':"Cantidad" }) %}
{% set rutaEliminar = path('web_eliminar_accesorioPartes', { 'accesoriopartemueble':"AccesoriosPartesMuebles" }) %}

  <script type="text/javascript">

var rutaAccesorios = "{{ rutaAccesorios }}";
var rutaActualizar = "{{ rutaActualizar }}";
var rutaEliminar = "{{ rutaEliminar }}";

  $(document).ready(function(){

            $('#agregarAccesorio').click(function(event){
                event.preventDefault();
                if($('#cantidad').val() == ""){
                    alert("Llena los campos");
                }else{
                    $.nuevoAccesorio($("#accesorios").val(),$('#cantidad').val());

                    $("<li>"+$('#cantidad').val()+" "+$('#accesorios option:selected').text()+" --- $ ...</li>").appendTo('#accesoriosLista');     
                }

            });



        $('#recargar').click(function(event) {
            event.preventDefault();
            location.reload();
        });

        $('.editarA').click(function(){
            var idEdicion = $(this).attr('id');
            console.log("editar "+idEdicion); 
            var id = idEdicion.replace("agregarAccesorio","");

            var cantidad = $('#cantidad'+id).val();
            var accesorio = $('#accesorios'+id).val();

           
            $.actualizarAccesorios(id,accesorio,cantidad);

        });


        $('.eliminarA').click(function(){
            var idEdicion = $(this).attr('id');
            console.log("editar "+idEdicion); 
            var id = idEdicion.replace("eliminarAccesorio","");

            $.eliminarAccesorios(id);
        });

  });

        $.nuevoAccesorio = function(accesorio,cantidad){
            var rutaAccesorios2 = rutaAccesorios.replace("AccesorioParte",accesorio);
            var rutaAccesorios3 = rutaAccesorios2.replace("Cantidad",cantidad);

            $.get(rutaAccesorios3,function(data){
                location.reload();
            });
        }

        $.actualizarAccesorios = function(accesoriopartemueble,accesorio,cantidad){
            var rutaActualizar2 = rutaActualizar.replace("AccesoriosPartesMuebles",accesoriopartemueble);
            var rutaActualizar3 = rutaActualizar2.replace("AccesorioCambiar",accesorio);
            var rutaActualizar4 = rutaActualizar3.replace("Cantidad",cantidad);

            $.get(rutaActualizar4,function(data){
                location.reload();
            });
        }

         $.eliminarAccesorios = function(accesoriopartemueble){
            var rutaEliminar2 = rutaEliminar.replace("AccesoriosPartesMuebles",accesoriopartemueble);
            
            $.get(rutaEliminar2,function(data){
                location.reload();
            });
        }



  </script>

{% endblock %}