{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Tipo Parte</h1>
    <a href="{{ path('tipoparte') }}" class="btn btn-success">
        Volver al listado
    </a>
        <hr>
    {{ form(edit_form) }}

      
    {{ form(delete_form) }}

{% endblock %}
