{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista de Tipo Parte</h1>
    <a href="{{ path('tipoparte_new') }}" class="btn btn-success">
        Crear una nueva entrada
    </a>
        <hr>
        <table class="table users-table table-condensed table-hover" id="tabla">
        <thead>
            <tr>
                <th>No</th>
                <th>Referencia</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tipoparte_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.ref }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>
                
                    
                    <a href="{{ path('tipoparte_show', { 'id': entity.id }) }}" class="btn btn-info"><i class="fa fa-search"></i></a>
                   
                    <a href="{{ path('tipoparte_edit', { 'id': entity.id }) }}"class="btn btn-warning"><i class="fa fa-edit"></i></a>
                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
    {% endblock %}
     {% block javascripts %}
    {{ parent() }}
     <script type="text/javascript">
                $(document).ready(function(){
                        $('#tabla').DataTable();
                    });
          </script>
    {% endblock %}
