{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Creacion Tipo Parte</h1>
    <a href="{{ path('tipoparte') }}" class="btn btn-primary">
        Volver al Listado
    </a>
        <hr>

    {{ form(form) }}

        
{% endblock %}
