{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tipo de Parte </h1>
<div class="col-lg-6">
    <table class="table users-table table-condensed table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Ref</th>
                <td>{{ entity.ref }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ entity.valor }}</td>
            </tr>
        </tbody>
    </table>

        <a href="{{ path('tipoparte') }}" class="btn btn-info">
            Volver a la Lista
        </a>    
        <a href="{{ path('tipoparte_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            Editar
        </a>
    
    {{ form(delete_form) }}
</div>

{% endblock %}
