{% extends 'TPUserBundle::base.html.twig' %}

{% block body -%}
    <h1>Modificar usuario</h1>
<div class="well">

    <form action="{{ path('tp_user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        
        {{ form_row(edit_form.groups,{'attr': {'id':'usuarios_usertype[groups][]'} }) }}
        {{ form_rest(edit_form) }}
        <p>
            <button class="btn btn-success" type="submit">Guardar</button>
        </p>
    </form>
        <ul class="record_actions">

    <!-- <li>
        <form action="{{ path('tp_user_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li> -->
    </ul>
    <a  class="btn btn-primary" href="{{ path('tp_user') }}">
        <i class="icon-list icon-white"></i> Volver al listado
    </a>
</div>
{% endblock %}
