{% extends 'TPUserBundle::base.html.twig' %}



{% block body -%}
    <h1>Listado de usuarios</h1>
<div class="table-responsive">
    <form action="{{ path('tp_user_batch_delete') }}" method="POST">
    <table class="records_list table table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Apellidos</th>
                <th>Nombres</th>
                <th>Usuario</th>
                {# <th>Email</th> #}
                <th>Estado</th>
                {#<th>Lastlogin</th>#}
                {#<th>Locked</th>#}
                <th>Grupo</th>
                {#<th>Created</th>
                <th>Updated</th>#}
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
           
            <tr>
                <td style="vertical-align:middle"><input type="checkbox" value="{{ entity.id }}" name="batch[]" /></td>
                <td style="vertical-align:middle">{{ entity.lastName }}</td>
                <td style="vertical-align:middle">{{ entity.firstName }}</td>
                <td style="vertical-align:middle"><a href="{{ path('tp_user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                {# <td style="vertical-align:middle">{{ entity.email }}</td> #}
                <td style="vertical-align:middle">{{ entity.enabled }}</td>
                {#<td>{% if entity.lastLogin %}{{ entity.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                {#<td>{{ entity.locked }}</td>#}
                <td style="vertical-align:middle">
                    {% for group in entity.groups %}
                    {{ group.name }} {{ loop.last ? '' : '<br />'}}
                    {% endfor %}
                </td>
               {# <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td> #}
                <td>
                    {% for group in entity.groups  %}
                      {% if group.roles != 'ROLE_SUPER_ADMIN' %}
                        <a href="{{ path('tp_user_show', { 'id': entity.id }) }}" class="btn btn-info btn-small"><i class="icon-check icon-white"></i> Ver</a>
                        <a href="{{ path('tp_user_edit', { 'id': entity.id }) }}" class="btn btn-warning btn-small"><i class="icon-edit icon-white"></i> Editar</a>
                        {# <a href="{{ path('tp_user_delete', { 'id': entity.id }) }}" class="btn btn-danger btn-small"><i class="icon-remove icon-white"></i> delete</a> #}
                      {% endif %}
                    {% endfor %}
                </td>
            </tr>
            
        {% endfor %}
        </tbody>
    </table>
</div>
    <div>
        <button class="btn btn-danger" type="submit"><i class="icon-remove-sign icon-white"></i> Eliminar</button>
        <a class="btn btn-success" href="{{ path('tp_user_new') }}">
            <i class="icon-plus-sign icon-white"></i> Nuevo usuario</a>
        </a>
       {# <a class="btn btn-success" href="{{ path('tp_user_new_confirm') }}">
            <i class="icon-plus-sign icon-white"></i> Nuevo usuario con confirmación
        </a>#}
    </div>
    </form>
    
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    
    <!-- <ul>
        <li>
            <a href="{{ path('tp_user_new') }}">
                Crea un nuovo utente (tipologia signup: ADMIN)
            </a>
        </li>
        <li>
            <a href="{{ path('tp_user_new_confirm') }}">
                Crea un nuovo utente con conferma (tipologia signup: ADMIN-CONFIRM)
            </a>
        </li>
    </ul> -->
    {% endblock %}
