    {% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Muebles Partes</h1>
    
        <a href="{{ path('mueblespartes') }}" class="btn btn-success">
            Volver al Listado
        </a>
    <hr>        
    {{ form(edit_form) }}
    <hr>
    {{ form(delete_form) }}
{% endblock %}
