{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Fleje</h1>
 <hr>
        <a href="{{ path('fleje') }}" class="btn btn-success">
            Volver
        </a>
<hr>
    {{ form(edit_form) }}

     
   {{ form(delete_form) }}

{% endblock %}
