{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Listado de Flejes</h1>
            <a href="{{ path('fleje_new') }}" class="btn btn-success">
                Crear nuevo
            </a>
    <hr>        
    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>No.</th>
                <th>Nombre</th>
                <th>Espesor</th>
                <th>Metros</th>
                <th>Estado</th>
                <th>Valor</th>
                <th>Valor metro lineal</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('fleje_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.espesor }}</td>
                <td>{{ entity.metros }}</td>
                <td>{{ entity.estado }}</td>
                <td>$... {{ entity.valor|number_format(1) }}</td>
                <td>$... {{ entity.valorMetrosLineal|number_format(1) }}</td>
                <td>{% if entity.estado == true %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i> {% endif %}</td>
                <td>
                <ul>
                    
                        <a href="{{ path('fleje_show', { 'id': entity.id }) }}" class="btn btn-success">Ver</a>
                  
                        <a href="{{ path('fleje_edit', { 'id': entity.id }) }}" class="btn btn-warning">Editar</a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

      
    {% endblock %}
     {% block javascripts %}
    {{ parent() }}
     <script type="text/javascript">
                $(document).ready(function(){
                        $('#tabla').DataTable();
                    });
          </script>
    {% endblock %}
