{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Crear Flejes</h1>
<hr>
<a href="{{ path('fleje') }}" class="btn btn-success">
            Volver al listado
        </a>
<hr>
    {{ form(form) }}
<hr>
        
   
{% endblock %}
