{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Fleje</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Espesor</th>
                <td>{{ entity.espesor }}</td>
            </tr>
            <tr>
                <th>Metros</th>
                <td>{{ entity.metros }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>$... {{ entity.valor|number_format(1) }}</td>
            </tr>
            <tr>
                <th>Valor metro lineal</th>
                 <td>$... {{ entity.valorMetrosLineal|number_format(1) }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if entity.estado == true %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i> {% endif %}</td>
            </tr>
           
        </tbody>
    </table>

       
        <a href="{{ path('fleje') }}" class="btn btn-primary"> 
            Volver al listado
        </a>
   
        <a href="{{ path('fleje_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            Editar
        </a>
   {{ form(delete_form) }}
{% endblock %}
