{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Crear Clientes</h1>

    	<hr>
        <a href="{{ path('creacion_muebles') }}" class="btn btn-success">
            Volver
        </a>
        <hr>
    {{ form(form) }}

{% endblock %}
