{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Soporte</h1>
<p></p>
<a href="{{ path('soporte') }}" class="btn btn-success">
            Volver
        </a>
        
     {% if is_granted('ROLE_SUPER_ADMIN') %}   
        {{ form(edit_form) }}      
    	{{ form(delete_form) }}
     {% else %}
     <h1>No tienes permiso para editar esto</h1>	
     {% endif %}	
{% endblock %}
