{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Listado de soporte</h1>
      <br>
      <a href="{{ path('soporte_new') }}" class="btn btn-success">
                Crear nuevo
      </a>
      <br>

    <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Usuariocreador</th>
               
                <th>Fechacreacion</th>
                <th>Estado</th>
                <th>Usuariorespuesta</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('soporte_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.usuarioCreador }}</td>
                <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.usuarioRespuesta }}</td>
                <td>
                
                        <a href="{{ path('soporte_show', { 'id': entity.id }) }}" class="btn btn-info btn-sm">Ver</a>
                 {% if is_granted('ROLE_SUPER_ADMIN') %}      
                        <a href="{{ path('soporte_edit', { 'id': entity.id }) }}" class="btn btn-warning btn-sm">Editar</a>
                 {% endif %}       
                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

      
    {% endblock %}
