{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Soporte</h1>
<p></p>

        <a href="{{ path('soporte') }}" class="btn btn-primary">
           Volver
        </a>
        
        {% if is_granted('ROLE_SUPER_ADMIN') %}   
         <a href="{{ path('soporte_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            Editar
        </a>
        {% endif %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ entity.titulo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Como</th>
                <td>{{ entity.como }}</td>
            </tr>
            <tr>
                <th>Deseo</th>
                <td>{{ entity.deseo }}</td>
            </tr>
            <tr>
                <th>Para</th>
                <td>{{ entity.para }}</td>
            </tr>
            <tr>
                <th>Usuariocreador</th>
                <td>{{ entity.usuarioCreador }}</td>
            </tr>
            <tr>
                <th>Usuarioedicion</th>
                <td>{{ entity.usuarioEdicion }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechaedicion</th>
                <td>{{ entity.fechaEdicion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
            <tr>
                <th>Usuariorespuesta</th>
                <td>{{ entity.usuarioRespuesta }}</td>
            </tr>
            <tr>
                <th>Respuesta</th>
                <td>{{ entity.respuesta }}</td>
            </tr>
        </tbody>
    </table>

      
   {{ form(delete_form) }}
{% endblock %}
