{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar accesorios de partes</h1>
    <a href="{{ path('accesorios') }}" class="btn btn-success">
        Volver al listado
    </a>
        <hr>
    {{ form(edit_form) }}

        
    {{ form(delete_form) }}

{% endblock %}
