{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista de Accesorios</h1>
    <a href="{{ path('accesorios_new') }}" class="btn btn-success">
        Crear una nueva entrada
    </a>
        <hr>
        <table class="table users-table table-condensed table-hover" id="accesorios">
        <thead>
            <tr>
                <th>No</th>
                <th>Ref</th>
                <th>Descripcion</th>
                <th>Valor</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('accesorios_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.ref }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>$ ... {{ entity.valor|number_format(0,',','.') }}</td>
                <td>{% if entity.isActive == true %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i> {% endif %}</td>
                <td>
                                   
                    <a href="{{ path('accesorios_show', { 'id': entity.id }) }}" class="btn btn-info"><i class="fa fa-search"></i></a>
                    
                    
                    <a href="{{ path('accesorios_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="fa fa-edit"></i></a>
                                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                 
        
    {% endblock %}
     {% block javascripts %}
        {{ parent() }}
       
          <script type="text/javascript">
                $(document).ready(function(){
                        $('#accesorios').DataTable();
                    });
          </script>
    {% endblock %}    
