{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Creacion de accesorios</h1>
    <a href="{{ path('accesorios') }}" class="btn btn-primary">
        Volver al listado
    </a>
        <hr>
        
    {{ form(form) }}

        
{% endblock %}
