{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Accesorios</h1>

    <table class="table users-table table-condensed table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Ref</th>
                <td>{{ entity.ref }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Ancho cm</th>
                <td>{{ entity.ancho }}</td>
            </tr>
            <tr>
                <th>Alto cm</th>
                <td>{{ entity.largo }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>$ ... {{ entity.valor|number_format(0,',','.') }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if entity.isActive == true %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i> {% endif %}</td>
            </tr>
        </tbody>
    </table>

        
        <a href="{{ path('accesorios') }}" class="btn btn-info">
            Volver a la lista
        </a>
    
        <a href="{{ path('accesorios_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            Editar
        </a>
    
    {{ form(delete_form) }}

{% endblock %}
