{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Tipo Lamina</h1>

      <a href="{{ path('tipolamina') }}"class="btn btn-success">
            Volver al Listado
        </a>
            
      <button type="button" class="btn btn-danger " data-toggle="modal" data-target="#myModal">
        Borrar
      </button>     
     <hr>       
    {{ form(edit_form) }}

    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Desea borrar?</h4>
            </div>
            <div class="modal-body">
              {{ form(delete_form) }}
            </div>

          </div>
        </div>
    </div>
        
{% endblock %}
