{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Listado de tipo de Lamina</h1>
        <a href="{{ path('tipolamina_new') }}" class="btn btn-success">
                Crear Nuevo
            </a>
<div class="table-responsive">
<hr>
    <table class="table users-table table-condensed table-hover" id="tabla">
        <thead>
            <tr>
                <th>No.</th>
                <th>Tipo lamina</th>
                <th>Descripción</th>
                <th>Alto (cm)</th>
                <th>Ancho (cm)</th>
                <th>Espesor (mm)</th>
                <th>Valor </th>
                <th>Area (cm2)</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tipolamina_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.tipoLamina }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.alto }}</td>
                <td>{{ entity.ancho }}</td>
                <td>{{ entity.espesor }}</td>
                <td>$ ...{{ entity.valor|number_format(0,',','.') }}</td>
                <td>{{ entity.area|number_format(0,',','.') }}</td>
                <td>{% if entity.isActive == true %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i> {% endif %}</td>
                <td>
                   
                        <a href="{{ path('tipolamina_show', { 'id': entity.id }) }}" class="btn btn-info"><i class="fa fa-search"></i></a>
                    
                        <a href="{{ path('tipolamina_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="fa fa-edit"></i></a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>           
    {% endblock %}
    {% block javascripts %}
    {{ parent() }}
     <script type="text/javascript">
                $(document).ready(function(){
                        $('#tabla').DataTable();
                    });
          </script>
    {% endblock %}
