{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Crear Tipo de Lamina</h1>

     <a href="{{ path('tipolamina') }}"class="btn btn-primary">
            Volver al Listado
     </a>
    {{ form(form) }}

     
{% endblock %}
