{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tipo de Lamina</h1>

    <table class="table users-table table-condensed table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Tipo lamina</th>
                <td>{{ entity.tipoLamina }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Alto (cm)</th>
                <td>{{ entity.alto }}</td>
            </tr>
            <tr>
                <th>Ancho (cm)</th>
                <td>{{ entity.ancho }}</td>
            </tr>
            <tr>
                <th>Espesor en mm</th>
                <td>{{ entity.espesor }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>$ ...{{ entity.valor|number_format(0,',','.') }}</td>
            </tr>
            <tr>
                <th>Area (cm2)</th>
                <td>{{ entity.area|number_format(0,',','.') }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if entity.isActive == true %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i> {% endif %}</td>
            </tr>
        </tbody>
    </table>

    
        <a href="{{ path('tipolamina') }}"class="btn btn-info">
            Volver al Listado
        </a>
   
        <a href="{{ path('tipolamina_edit', { 'id': entity.id }) }}"class="btn btn-warning">
            Editar
        </a>
 
        <button type="button" class="btn btn-danger " data-toggle="modal" data-target="#myModal">
        Borrar
      </button>
    {#{{ form(delete_form) }} #}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Desea borrar?</h4>
      </div>
      <div class="modal-body">
        {{ form(delete_form) }}
      </div>
     
    </div>
  </div>
</div>

{% endblock %}
