{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Listado de Clientes</h1>
<hr>
    <a href="{{ path('clientes_new') }}" class="btn btn-success">
                    Crear nuevo Cliente
    </a>
<hr>
    <table class="table" id="clientes">
        <thead>
            <tr>
                <th>No.</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Telefono</th>
                <th>Documento</th>
                <th>Direccion</th>
                <th>Email</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('clientes_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.nombres }}</td>
                <td>{{ entity.apellidos }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.documento }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.email }}</td>
                <td>{% if entity.estado == true %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i> {% endif %}</td>
                <td>
               
                        <a href="{{ path('clientes_show', { 'id': entity.id }) }}" class="btn btn-success">Ver</a>
                  
                        <a href="{{ path('clientes_edit', { 'id': entity.id }) }}" class="btn btn-warning">Editar</a>
                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       
           
      
    {% endblock %}

     {% block javascripts %}
        {{ parent() }}
       
          <script type="text/javascript">
                $(document).ready(function(){
                        $('#clientes').DataTable();
                    });
          </script>
    {% endblock %}    

