{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Crear Clientes</h1>

    	<hr>
        <a href="{{ path('clientes') }}" class="btn btn-success">
            Volver al listado de Clientes
        </a>
        <hr>
    {{ form(form) }}


{% endblock %}
