{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Clientes</h1>
<div class="col-lg-6">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ entity.nombres }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ entity.apellidos }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Documento</th>
                <td>{{ entity.documento }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if entity.estado == true %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i> {% endif %}</td>
            </tr>
        </tbody>
    </table>

       
        <a href="{{ path('clientes') }}" class="btn btn-primary">
            Volver al listado
        </a>
   
        <a href="{{ path('clientes_edit', { 'id': entity.id }) }}" class="btn btn-warning"> 
            Editar
        </a>
    {{ form(delete_form) }}
 </div>
 <div class="col-lg-6">
 <table class="table">
     <thead>
         <th>No.</th>
         <th>Descripción</th>
         <th>Valor</th>
         <th>Acciones</th>
     </thead>
     <tbody>
     {% for mueble in muebles %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ mueble }}</td>
            <td>$ ...{{ mueble.valorTotal|number_format(2) }}</td>
            <td></td>
        </tr> 
     {% endfor %}    
     </tbody>
 </table>
     
 </div>   
{% endblock %}
