{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Tipo de Mueble</h1>
        <a href="{{ path('tipomueble') }}" class="btn btn-success">
            Volver al listado
        </a>
            <hr>
    {{ form(edit_form) }}
    <hr>
{{ form(delete_form) }}
{% endblock %}
