{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Listado Tipo de Mueble</h1>
<a href="{{ path('tipomueble_new') }}" class="btn btn-success">
                Crear nuevo
            </a>
                <hr>
    <table class="table users-table table-condensed table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Ref</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Fecha creación</th>
                <th>Fecha edición</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tipomueble_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.ref }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.estado }}</td>
                <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaEdicion %}{{ entity.fechaEdicion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                
                    <a href="{{ path('tipomueble_show', { 'id': entity.id }) }}" class="btn btn-info"><i class="fa fa-search"></i></a>
                   
                    <a href="{{ path('tipomueble_edit', { 'id': entity.id }) }}" class="btn btn-warning"><i class="fa fa-edit"></i></a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       
    {% endblock %}
