{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Crear Tipo de Mueble</h1>
<hr>
        <a href="{{ path('tipomueble') }}" class="btn btn-primary">
            volver al listado
        </a>
            <hr>
    {{ form(form) }}
    
{% endblock %}
