{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tipo de Mueble</h1>

    <table class="table users-table table-condensed table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Ref</th>
                <td>{{ entity.ref }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechaedicion</th>
                <td>{{ entity.fechaEdicion|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

       
        <a href="{{ path('tipomueble') }}" class="btn btn-info">
            Volver al Listado
        </a>
    
        <a href="{{ path('tipomueble_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            Editar
        </a>
        {{ form(delete_form) }}
        
{% endblock %}
