{% extends '::base.html.twig' %}
{% block stylesheets %}
{{ parent() }}

<style type="text/css">
 
  div.cajas{
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    }
</style>

{% endblock %}
{% block body -%}

      <div class="container">
      
  <h1>Muebles</h1>    
  <label>Porcentaje %</label>
  <input type="number" id="incremento" value="25" step="1" min="0" max="100">     
  <label>Valor Venta $</label>
  <input type="number" id="valorVenta" step="1" > 
  {#<select id="clientes">
     <option id="0">Selecciona</option> 
    {% for cliente in clientes %}

      <option value="{{ cliente.id }}" {% if entity.clientes.id == cliente.id %}selected{% endif %}>{{ cliente }}</option>
    {% endfor %}
  </select>    
  <a href="" class="btn btn-default"> Generar cotización</a>#}
<h3><span id="stopwatch">00:00:00</span></h3> <input type='button' value='Play/Pause' onclick='Example1.Timer.toggle();' />
          <input type='button' value='Stop/Reset' onclick='Example1.resetStopwatch();' />
          
<div class="col-lg-8"> 
<div style="margin-left: 30px;"> 
 
<a href="{{ path('muebles') }}" class="btn btn-info">
            Volver
        </a>
        <a href="{{ path('muebles_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            Editar
        </a>
            
          <a href="#" class="btn btn-primary" id="mostrar">
            Info
        </a>
        <a href="#" class="btn btn-danger" id="accesoriosMostrar">
            accesorios
        </a>


  
                 <a href="{{ path('partesmueble_new') }}" class="btn btn-success" target="popup" onclick="window.open('', 'popup', 'width=500,height=700')">
                Nueva
            </a>
     <span id="resizable-16">Ancho = {{ entity.ancho }}, Alto = {{ entity.alto }}</span> <strong><div id="valorTotal" style="font-style: italic; font-size: 18px "><div id="precio"></div></div></strong>
     <input type="text" placeholder="Soy una calculadora" id="calculadora" />
</div>
<div id="llamadaaccesorios">
           <div id="mensaje2"></div>
            <table class="table" style="width:40%; margin-left: 150px" id="accesorioscatalogo">
               <thead>
                    <th>No.</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                    <th>Procesos</th>
               </thead>
               <tbody>
                   {% for accesorio in accesorios %}
                       <tr>
                           <td>{{ loop.index }}</td>
         <td>{{ accesorio }}</td>
                           <td>
                             <form name="myForm{{ accesorio.id }}" action="#" onsubmit="return validateForm({{ accesorio.id }})" method='post'>  
                               <input name="Accesorio{{ accesorio.id }}" id="Accesorio{{ accesorio.id }}" type="number"  step="0.01" style="width: 40px;float: left;" /> 
                               <input type="submit" value="Enviar" class="btn btn-success btn-sx">
                             </form>  
                           </td>
                           <td><div id="respuesta{{ accesorio.id }}"></div></td>
                       </tr>
                   {% endfor %}    
               </tbody>
           </table>       
       
      
       </div>


  <table class="table" id="informacion" style="width:40%; margin-left: 150px">
        <tbody>
           

            <tr>
                <th>Ref</th>
                <td>{{ entity.ref }}</td>
            </tr>
             <tr>
                <th>Mano de Obra metro Cuadrado</th>
                <td>$ ...{{ entity.manoObraMetroCuadrado|number_format(2) }}</td>
            </tr>
            <tr>
                <th>Mano de Obra</th>
                <td>$ ...{{ entity.manoObra|number_format(2) }}</td>
            </tr> 
            <tr>
                <th>Valor Partes</th>
                <td>$ ...{{ entity.valorTotalPartes|number_format(2) }} (Ultimo calculado, actualice la página para verificar)</td>
            </tr>
            <tr>
                <th>Valor Material</th>
                <td>$ ...{{ (entity.valor-entity.manoObra)|number_format(2) }} (Ultimo calculado, actualice la página para verificar)</td>
            </tr>
            <tr>
                <th>Valor Accesorios</th>
                <td>$ ...{{ entity.valorTotalAccesorios|number_format(2) }} (Ultimo calculado, actualice la página para verificar)</td>
            </tr>
            
           
            <tr>
                <th>Alto</th>
                <td><div id="alto">{{ entity.alto }}</div></td>
            </tr>
            <tr>
                <th>Ancho</th>
                <td><div id="ancho">{{ entity.ancho }}</div></td>
            </tr>
            <tr>
                <th>Espacios verticales</th>
                <td>{{ entity.diVertical }}</td>
            </tr>
            <tr>
                <th>Tipopuerta</th>
                <td>{{ entity.tipoPuerta }}</td>
            </tr>
            <tr>
                <th>Profundidad</th>
                <td>{{ entity.profundidad }}</td>
            </tr>
           
            <tr>
                <th>Listado de Accesorios</th>
                <td>
                     <ol id="listAccesorios"></ol>
                </td>
            </tr>

            
              {% for accesorios in entity.accesorios %}
              <tr colspan"2">
                  <th>
                    <a href=""  class="btn btn-sm btn-danger eliminarAccesorio" id="{{ accesorios.id }}"><i class="fa fa-times"></i></a>
                  </th>
                  <td> {{ accesorios.cantidad }}  {{ accesorios.accesorios.descripcion }} ({{ accesorios.accesorios.valor }}) $ {{ accesorios.accesorios.valor*accesorios.cantidad }}
                  </td>
               </tr>    
              {% endfor %}  
           
        </tbody>
    </table>

<div class="table-responsive" >  

    <div id="mueble" class="col-lg-4" style="height: {{entity.alto*4}}px; width: {{ entity.ancho*4}}px; background-color: cadetblue; float: left; margin-right: 0px; margin-left: 50px">
        <div id="linea">
            
        </div>
        <div id="resultadosPrueba">
      {% for part in partes %}
          <div class="ui-widget-content muebleParte cajas" id="Agregado{{ part.id }}" style="height: {{ part.altoFrente*4 }}px; width: {{ part.anchoFrente*4 }}px; position: absolute; left: {{ part.positionX }}px; top: {{ part.positionY }}px; font-size: 10px">
           <a href="#" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-align-justify"></span>
          </a>
              <div id="descripcionParte{{ part.id }}">{{ part.descripcion|upper }}</div> <div id="dimensiones{{ part.id }}">{{ part.anchoFrente|number_format(1) }} x {{ part.altoFrente|number_format(1) }}</div> <div id="valorparte{{ part.id }}">($...{{ part.valor|number_format(1) }})</div>

          </div>  
       {% endfor %}   
       </div>
     </div>
 
  </div>
      
        <div id="catalogo" style="float: left; margin-left: 0px;">
            <div id="partesCatalogo">
                <h2>Partes</h2>
            <div id="mensaje"></div>  
             </div>
<div style="border:1px solid black;width:800px;height:200px;overflow-y:scroll;overflow-x:scroll;">
 <table class="table">
          <tr id="partesCat">
            
          </tr>  
        </table>
</div>
       
        </div>
      
      
 

     <hr>

                <div id="dialog" title="Editar Parte" class="dialogo">

                  <p><strong> <div id="tituloParte"></div></strong></p>
                  
               <form>
                <fieldset>
                <div class="form-group">
                 <input type="hidden" value="" id="idpartemueble">
                      <label>Material Frente</label>
                      <select id="materialFrente">
                      {% for lamina in laminas %}
                          <option value="{{ lamina.id }}">{{ lamina }}</option>
                      {% endfor %}
                      </select>
                        <label>Fleje Frente</label>
                      <select id="flejeFrente">
                      {% for fleje in flejes %}
                          <option value="{{ fleje.id }}">{{ fleje }}</option>
                      {% endfor %}
                      </select>
                 </div>
                 <div class="form-group">
                       <label>Ancho Frente</label>
                       <input type="number" value="" id="anchoFrente">
                  </div>
                  <div class="form-group">
                       <label>Alto Frente</label>
                       <input type="number" value="" id="altoFrente">
                  </div>
                  <div class="form-group">
                       <label>Material Lateral</label>
                       <select id="materialLateral">
                        {% for lamina in laminas %}
                          <option value="{{ lamina.id }}">{{ lamina }}</option>
                        {% endfor %}
                       </select>
                         <label>Fleje Lateral</label>
                      <select id="flejeLateral">
                      {% for fleje in flejes %}
                          <option value="{{ fleje.id }}">{{ fleje }}</option>
                      {% endfor %}
                      </select>
                  </div>
                  <div class="form-group">
                       <label>Ancho lateral</label>
                       <input type="number" value="" id="anchoLateral">
                  </div>
                  <div class="form-group">
                       <label>Alto lateral</label>
                       <input type="number" value="" id="altoLateral">
                  </div>
                   <div class="form-group">
                       <label>Material Trasera</label>
                       <select id="materialTrasera">
                       {% for lamina in laminas %}
                          <option value="{{ lamina.id }}">{{ lamina }}</option>
                        {% endfor %}
                       </select>
                         <label>Fleje Trasera</label>
                      <select id="flejeTrasera">
                      {% for fleje in flejes %}
                          <option value="{{ fleje.id }}">{{ fleje }}</option>
                      {% endfor %}
                      </select>
                  </div>
                  <div class="form-group">
                       <label>Ancho Trasera</label>
                       <input type="number" value="" id="anchoTrasera">
                  </div>
                  <div class="form-group">
                       <label>Alto Trasera</label>
                       <input type="number" value="" id="altoTrasera">
                  </div>
                   <div class="form-group">
                       <label>Material Fondo</label>
                       <select id="materialFondo">
                        {% for lamina in laminas %}
                          <option value="{{ lamina.id }}">{{ lamina }}</option>
                        {% endfor %}
                        </select>
                  </div>

                  </fieldset>
                  </form>
                  <button type="button" class="btn btn-primary btn-lg btn-block actualizarParteMueble" id="actualizar">Actualizar</button>
                  <button type="button" class="btn btn-warning btn-lg btn-block clonarParteMueble" id="clonar">Clonar</button>
                  <button type="button" class="btn btn-danger btn-lg btn-block eliminame">Eliminar</button>
                </div>
   
<hr>
  <div class="col-lg-12"> 

  <div class="table-responsive"> 
<hr>
<p>DESPIECE</p>
<table class="table table-bordered" style="width: 90%">
        
            <tr style="text-align: center; font-weight: bold;">
                <td rowspan="2" style="vertical-align:middle">Descripción</td>
                <td colspan="2">Medidas</td>
                
                <td rowspan="2" style="vertical-align:middle">Calibre (mm)</td>
                <td rowspan="2" style="vertical-align:middle">Cantidad max</td>
                <td rowspan="2" style="vertical-align:middle">Material</td>
                <td rowspan="2" style="vertical-align:middle">Enchape (cm)</td>
                <td rowspan="2" style="vertical-align:middle">Valor Enchape</td>
                <td rowspan="2" style="vertical-align:middle">Valor Madera</td>
                <td rowspan="2" style="vertical-align:middle">Valor Total</td>
            </tr>
        
            <tr style="text-align: center; font-weight: bold;">
                
                <td>X</td>
                <td>Y</td>
                
                

            </tr>
            <tr style="text-align: center;">
                <td>Laterales (2)</td>
                
                <td>{{ entity.altoLateralReal }}</td>
                <td>{{ entity.anchoLateralReal }}</td>
                <td>{{ entity.materialLateral.espesor }}</td>
                <td>{{ entity.cantidadLateral }}</td>
                <td>{{ entity.materialLateral }}</td>
                <td>{{ entity.metrosFlejeLateral }}</td>
                <td>$...{{ entity.metrosFlejeLateral*entity.flejeLateral.valorMetrosLineal/100|number_format(1) }}</td>
                <td>$...{{ entity.valorLateral|number_format(1) }}</td>
                <td>$...{{ (entity.valorLateral+entity.metrosFlejeLateral*entity.flejeLateral.valorMetrosLineal/100)|number_format(1) }}</td>
                

            </tr>
            <tr style="text-align: center;">
                <td>Fondo</td>
                
                <td>{{ entity.altoTraseraReal }}</td>
                <td>{{ entity.anchoTraseraReal }}</td>
                <td>{{ entity.materialFondo.espesor }}</td>
                <td>{{ entity.cantidadTrasera }}</td>
                <td>{{ entity.materialTrasera }}</td>
                <td>{{ entity.metrosFlejeTrasera }}</td>
                 <td>$...{{ entity.metrosFlejeTrasera*entity.flejeTrasera.valorMetrosLineal/100|number_format(1) }}</td>
                <td>$...{{ entity.valorTrasera|number_format(1) }}</td>
                <td>$...{{ (entity.valorTrasera+entity.metrosFlejeTrasera*entity.flejeTrasera.valorMetrosLineal/100)|number_format(1) }}</td>

            </tr>
            <tr style="text-align: center;">
                <td>Tapa</td>
                
                <td>{{ entity.anchoTechoReal }}</td>
                <td>{{ entity.profundidadTechoReal }}</td>
                <td>{{ entity.materialTapa.espesor }}</td>
                <td>{{ entity.cantidadTecho }}</td>
                <td>{{ entity.materialTapa }}</td>
                <td>{{ entity.metrosFlejeTapa }}</td>
                 <td>$...{{ entity.metrosFlejeTapa*entity.flejeTapa.valorMetrosLineal/100|number_format(1) }}</td>
                <td>$...{{ entity.valorTecho|number_format(1) }}</td>
                <td>$...{{ (entity.valorTecho+entity.metrosFlejeTapa*entity.flejeTapa.valorMetrosLineal/100)|number_format(1) }}</td>

            </tr>
             <tr style="text-align: center;">
                <td>Piso</td>
                
                <td>{{ entity.anchoFondoReal }}</td>
                <td>{{ entity.profundidadFondoReal }}</td>
                <td>{{ entity.materialFondo.espesor }}</td>
                <td>{{ entity.cantidadFondo }}</td>
                <td>{{ entity.materialFondo }}</td>
                <td>{{ entity.metrosFlejeFondo }}</td>
                 <td>$...{{ entity.metrosFlejeFondo*entity.flejeFondo.valorMetrosLineal/100|number_format(1) }}</td>
                <td>$...{{ entity.valorFondo|number_format(1) }}</td>
                <td>$...{{ (entity.valorFondo+entity.metrosFlejeFondo*entity.flejeFondo.valorMetrosLineal/100)|number_format(1) }}</td>

            </tr>

           
       
</table>
</div>
</div>

</div>



    
{% endblock %} 
{% block javascripts %}

{% set rutaAgregar = path('web_insertar', {'idmueble': entity.id,'idparte': 'idparteAgregada', 'cantidad': '1', 'positionx': 'px', 'positiony': 'py' }) %}    
{% set rutaActualizar = path('web_Partes_actualizar', {'parte': 'parteid','positionx': 'px', 'positiony': 'py' }) %}
{% set rutaEliminar = path('web_Partes_eliminar', {'parte': 'elementoArrastrado' }) %}
{% set rutaActualizarMueble = path('web_tamanyio_actualizar', {'mueble':  entity.id, 'ancho': 'anchomueble', 'alto': 'altomueble' }) %}
{% set rutaInsertarAccesorios = path('web_insertar_accesorios', {'accesorio': "accInsertado", 'mueble': entity.id, 'cantidad': "cantidad" }) %}
{% set rutaAccesoriosMueble = path('web_accesorios_mueble', { 'mueble': entity.id }) %}
{% set rutaRecarga = path('web_recargar_partes', { 'mueble': entity.id }) %}
{% set diVertical = entity.diVertical %}
{% set actualizar = path('web_actualizar_tamanyo', {'muebleParte': "muebleParte", 'ancho':"ancho", 'alto': "alto"}) %}
{% set eliminaraccesoriomueble = path('web_eliminar_accesorioMuebles',{'accesoriomueble':"AccesorioMueble"}) %}
{% set rutaActualizarMuebleParte = path('web_actualizar_MueblesPartes', {'parte':"Parte",'materialfrente':"MaterialFrente",'anchofrente':"AnchoFrente",'altofrente':"AltoFrente",'materiallateral':"MaterialLateral",'ancholateral':"AnchoLateral",'altolateral':"AltoLateral",'materialtrasera':"MaterialTrasera",'anchotrasera':"AnchoTrasera",'altotrasera':"AltoTrasera",'materialfondo':"MaterialFondo",'flejeFrente':"FlejeFrente",'flejeLateral':"FlejeLateral",'flejeTrasera':"FlejeTrasera",}) %}
{% set rutaDuplicar = path('web_duplicar_parte',{'parte':"Parte"}) %}
{% set rutaConsultarParte = path('web_consultar_parte',{'partemueble':"ParteMueble"}) %}
    {{ parent() }}
        <script>

     $('#calculadora').calculator(); 

  var Example1 = new (function() {

    // Stopwatch element on the page
    var $stopwatch;
    
    // Timer speed in milliseconds
    var incrementTime = 70;

    // Current timer position in milliseconds
    var currentTime = 0;
    
    // Start the timer
    $(function() {
        $stopwatch = $('#stopwatch');
        Example1.Timer = $.timer(updateTimer, incrementTime, true);  
    });

    // Output time and increment
    function updateTimer() {
        var timeString = formatTime(currentTime);
        $stopwatch.html(timeString);
        currentTime += incrementTime;
    }

    // Reset timer
    this.resetStopwatch = function() {
        currentTime = 0;
        Example1.Timer.stop().once();
    };

});

    // Reset timer
    this.resetStopwatch = function() {
        currentTime = 0;
        Example1.Timer.stop().once();
    };

     
    function pad(number, length) {
        var str = '' + number;
        while (str.length < length) {str = '0' + str;}
        return str;
    }

    function formatTime(time) {
    time = time / 10;
    var min = parseInt(time / 6000),
        sec = parseInt(time / 100) - (min * 60),
        hundredths = pad(time - (sec * 100) - (min * 6000), 2);
    return (min > 0 ? pad(min, 2) : "00") + ":" + pad(sec, 2) + ":" + hundredths;
    }   

         var rutas           = "{{ rutaAgregar }}";
         var rutaActualizada = "{{ rutaActualizar }}";
         var rutaEliminada   = "{{ rutaEliminar }}";
         var rutaActuMueble  = "{{ rutaActualizarMueble }}";
         var rutaInsertarAcc = "{{ rutaInsertarAccesorios }}";
         var rutaAccesorios  = "{{ rutaAccesoriosMueble }}";
         var rutaRecargada   = "{{ rutaRecarga }}";
         var diVertical      = "{{ diVertical }}";
         var actualizarParte = "{{ actualizar }}"
         var eliminaraccesoriomueble = "{{ eliminaraccesoriomueble }}"
         var rutaActualizarMuebleParte = "{{ rutaActualizarMuebleParte }}";
         var rutaDuplicar = "{{ rutaDuplicar }}";
         var rutaConsultarParte = "{{ rutaConsultarParte }}";

         $(document).ready(function(){


           $('#accesorioscatalogo').DataTable();


          $.alimentarFormulario = function(){

          } 

          $.quitarRepetidos = function(){
            var seen = {};
            $('.dialogo').each(function() {
                var txt = $(this).attr('id');
                if (seen[txt])
                    $(this).remove();
                else
                    seen[txt] = true;
            });
          }
           $.quitarRepetidos();
             
           $.eventoDialog = function(){
             $( ".dialogo" ).draggable( { disabled: true });
             $( ".dialogo" ).dialog({
              autoOpen: false,
              height: 600,
              width: 400,
              modal: true,
              draggable:true,
              buttons: {
                
              Cancel: function() {
                  $( ".dialogo" ).dialog( "close" );
                }
              },
              close: function() {
                $( ".dialogo" ).dialog( "close" );
                //form[ 0 ].reset();
                //allFields.removeClass( "ui-state-error" );
              }
            });
           }
            
            $.eventoDialog();
            
            $.eventoTouch = function(){
              var tapped=false;
              $(".muebleParte").on("touchstart",function(e){

                var id = $(this).attr('id');
                var idReal = id.replace('Agregado','');
                console.log("Id obtenido con doble touch "+idReal);

                if(!tapped){ //if tap is not set, set up single tap
                  tapped=setTimeout(function(){
                      tapped=null
                     //insert things you want to do when single tapped
                  },300);   //wait 300ms then run single click code
                } else {    //tapped within 300ms of last tap. double tap
                  clearTimeout(tapped); //stop single tap callback
                  tapped=null
                  $.abrirDialogo(idReal);//insert things you want to do when double tapped
                }
                e.preventDefault()
            });

            }
            $.eventoTouch();


            $.eventoDobleClick = function(){
                
                $('.muebleParte').dblclick(function(event){
                event.preventDefault();

                var id = $(this).attr('id');
                var idReal = id.replace('Agregado','');
                console.log("El id de la parte "+idReal);
                
                $.abrirDialogo(idReal);
                });

            }

            $.eventoDobleClick();

            $.abrirDialogo = function(idRealParte){
              $.consultarParte(idRealParte);

              var dialogo = $( '#dialog' ).dialog( "open" );

            }

            $.consultarParte = function(idParte){
                var consultarParte2 = rutaConsultarParte.replace("ParteMueble",idParte);

                   $.ajax({
                     url: consultarParte2,
                     dataType: "text",
                     success: function(data) {
                         $.actualizarPrecio();
                         var json = $.parseJSON(data);
                         for (var i in json) {
                               
                              $('#tituloParte').text(json[i]['descripcion']);
                              $('#idpartemueble').val(json[i]['id']);
                              $('#materialFrente').val(json[i]['materialFrente']);
                              $('#materialLateral').val(json[i]['materialLateral']);
                              $('#materialTrasera').val(json[i]['materialTrasera']);
                              $('#materialFondo').val(json[i]['materialFondo']);
                              $('#flejeFrente').val(json[i]['idFlejeFrente']);
                              $('#flejeLateral').val(json[i]['idFlejeLateral']);
                              $('#flejeTrasera').val(json[i]['idFlejeTrasera']);

                              $('#anchoFrente').val(json[i]['anchoFrente']);
                              $('#altoFrente').val(json[i]['altoFrente']);
                              $('#anchoFrente').val(json[i]['anchoFrente']);
                              $('#anchoLateral').val(json[i]['anchoLateral']);
                              $('#altoLateral').val(json[i]['altoLateral']);
                              $('#anchoTrasera').val(json[i]['anchoTrasera']);
                              $('#altoTrasera').val(json[i]['altoTrasera']);

                         }

                      }
                      });
            }

            $.actualizarParteMueble = function(parte,materialfrente,anchofrente,altofrente,materiallateral,ancholateral,altolateral,materialtrasera,anchotrasera,altotrasera,materialfondo,flejeFrente,flejeLateral,flejeTrasera){
              var rutaActualizarMuebleParte2 = rutaActualizarMuebleParte.replace("Parte",parte);  
              var rutaActualizarMuebleParte3 = rutaActualizarMuebleParte2.replace("MaterialFrente",materialfrente);  
              var rutaActualizarMuebleParte4 = rutaActualizarMuebleParte3.replace("AnchoFrente",anchofrente);  
              var rutaActualizarMuebleParte5 = rutaActualizarMuebleParte4.replace("AltoFrente",altofrente);  
              var rutaActualizarMuebleParte6 = rutaActualizarMuebleParte5.replace("MaterialLateral",materiallateral);  
              var rutaActualizarMuebleParte7 = rutaActualizarMuebleParte6.replace("AnchoLateral",ancholateral);  
              var rutaActualizarMuebleParte8 = rutaActualizarMuebleParte7.replace("AltoLateral",altolateral);  
              var rutaActualizarMuebleParte9 = rutaActualizarMuebleParte8.replace("MaterialTrasera",materialtrasera);  
              var rutaActualizarMuebleParte10 = rutaActualizarMuebleParte9.replace("AnchoTrasera",anchotrasera);  
              var rutaActualizarMuebleParte11 = rutaActualizarMuebleParte10.replace("AltoTrasera",altotrasera);  
              var rutaActualizarMuebleParte12 = rutaActualizarMuebleParte11.replace("MaterialFondo",materialfondo);
              var rutaActualizarMuebleParte13 = rutaActualizarMuebleParte12.replace("FlejeFrente",flejeFrente);
              var rutaActualizarMuebleParte14 = rutaActualizarMuebleParte13.replace("FlejeLateral",flejeLateral);
              var rutaActualizarMuebleParte15 = rutaActualizarMuebleParte14.replace("FlejeTrasera",flejeTrasera);

              $.get(rutaActualizarMuebleParte15,function(data){
                  $( ".dialogo" ).dialog( "close" );
                  //$.recargarPartes();
                  $('#Agregado'+parte+' #valorparte'+parte).text(data);
                  $.mensaje();
                  $.actualizarPrecio();

              })  
            }

            $.eventoBotonActualizar = function(){
               $('.actualizarParteMueble').click(function(){
                var parteActualizar = $('#idpartemueble').val();
               

                $.actualizarParteMueble(parteActualizar,$('#materialFrente').val(),$('#anchoFrente').val(),$('#altoFrente').val(),$('#materialLateral').val(),$('#anchoLateral').val(),$('#altoLateral').val(),$('#materialTrasera').val(),$('#anchoTrasera').val(),$('#altoTrasera').val(),$('#materialFondo').val(),$('#flejeFrente').val(),$('#flejeLateral').val(),$('#flejeTrasera').val());
                
                        $("#Agregado"+parteActualizar).height($('#altoFrente').val()*4);
                        $("#Agregado"+parteActualizar).width($('#anchoFrente').val()*4);
                        $('#dimensiones'+parteActualizar).text($('#anchoFrente').val()+"x"+$('#altoFrente').val());

               });
             }

            
            $.eventoBotonClonar = function(){
               $('.clonarParteMueble').click(function(){
                var parteClonar = $('#idpartemueble').val();
                $.duplicarParte(parteClonar);                  
               });
            }

            $.eventoBotonEliminar = function(){

               $('.eliminame').on("click",(function(event){
                   event.preventDefault();
                   var parteEliminar = $('#idpartemueble').val();
                  
                  
                  $( ".dialogo" ).dialog( "close" );
                  $('#Agregado'+parteEliminar).hide("slide");
                  $.eliminarPartes(parteEliminar);
               }));

            }


            $.eventoBotonActualizar();
            $.eventoBotonClonar();           
            $.eventoBotonEliminar();           

            $.duplicarParte = function(parte){
                var rutaDuplicar2 = rutaDuplicar.replace("Parte",parte);
               
                var nuevo = $( '#Agregado'+parte ).clone();
               
               
                $.get(rutaDuplicar2,function(data){
                  nuevo.attr('id',"Agregado"+data);
                  nuevo.appendTo("#mueble");
                  nuevo.draggable();
                  $( ".dialogo" ).dialog( "close" );  
                })
            }

             $('#informacion').hide();
             $('#llamadaaccesorios').hide();

             var mostrar = 0;
             var mostrarAccesorios = 0;
             $('#mostrar').click(function(){
                
                if(mostrar == 0){
                  $('#informacion').show('slide');
                  $('#mostrar').text("Ocultar");
                  mostrar = 1;
                }else{
                  $('#informacion').hide('slide');
                  $('#mostrar').text("Info");
                  mostrar = 0;
                } 
              });

          $('#accesoriosMostrar').click(function(){
                
                if(mostrarAccesorios == 0){
                  $('#llamadaaccesorios').show('slide');
                  $('#accesoriosMostrar').text("Ocultar");
                  mostrarAccesorios = 1;
                }else{
                  $('#llamadaaccesorios').hide('slide');
                  $('#accesoriosMostrar').text("Accesorio");
                  mostrarAccesorios = 0;
                }
              });


             draw_vertical_line(5, "{{ entity.Alto*4 }}", '#357d35', {{ entity.ancho *4 / entity.diVertical }}, 0);
             
             $( ".ui-widget-content" ).draggable({ 
                  // helper: 'clone'
             });
             
             $( "#mueble" ).resizable({
                    grid: 6,
                    create: function( event, ui ) {
                       $("#resizable-15").text ("I'm Created!!");
                    },
                    resize: function (event, ui)
                    {
                       $("#resizable-16").text (
                          "Ancho = " + ui.size.width/4 +
                          ", Alto = " + ui.size.height/4);
                       var altoreal = ui.size.height/4;
                       var anchoreal = ui.size.width/4;
                       
                    },
                    stop: function (event, ui)
                    {
                       $("#resizable-16").text (
                          "Ancho = " + ui.size.width/4 +
                          ", Alto = " + ui.size.height/4);
                       var altoreal = ui.size.height/4;
                       var anchoreal = ui.size.width/4;
                       
                       draw_vertical_line(5, altoreal*4, '#357d35', anchoreal *4 / diVertical, 0);
                       $.actualizarMueble(anchoreal,altoreal);
                       
                       
                    }
             });

            $.eventoResizable = function(){
              $('.muebleParte').resizable({
                grid: 0,
                create: function( event, ui ) 
                {
                       $("#resizable-15").text ("I'm Created!!");
                },
                resize: function (event, ui)
                {
                  
                   idElemento1 = ui.element.attr('id');
                   $("#"+idElemento1).text (
                    "" + (ui.size.width/4).toFixed(1) +
                    "x" + (ui.size.height/4).toFixed(1));
                    var altoreal = (ui.size.height/4);
                    var anchoreal = (ui.size.width/4).toFixed(1);
                   
                },        
               stop: function (event, ui)
               {
                   idElemento1 = ui.element.attr('id');
                   idElemento2 = idElemento1.replace('Agregado','');

                   
                   var altoreal = (ui.size.height/4).toFixed(1);
                   var anchoreal = (ui.size.width/4).toFixed(1);
                  
                   // copiado en 339 metodo recargarPartes
                   $.actualizarTamanyoPartes(idElemento2,anchoreal,altoreal); 
                   $.actualizarPrecio();
                   
               }
             });
            }
            
            $.eventoResizable();
            
             $( "#mueble" ).droppable({
             
            
                drop: function( event, ui ) {
                  
                   var id = ui.draggable.attr("id");
                   
                   if(id.substring(0,8)=="Agregado"){
                       
                        var parte = id.replace("Agregado",'');
                        $.actualizarPartes(parte,ui.position.left,ui.position.top);
                    
                   }else{

                        var nuevoID = $.insertarPartes(id,ui.position.left,ui.position.top);
                       
                        var copiado = ui.draggable.clone().appendTo(this).css({ position: "absolute", top: ui.position.top, left: ui.position.left }); 
                        var posicion = copiado.position();
                        
                       
                        
                        copiado.draggable();
                       
                        copiado.addClass("muebleParte cajas");
                        var altoOriginal = copiado.innerHeight();
                        var anchoOriginal = copiado.innerWidth();

                        copiado.height(altoOriginal*4/3);
                        copiado.width(anchoOriginal*4/3);

                        copiado.attr({
                            'id': "Agregado"+nuevoID
                        });

                        $("#Agregado"+nuevoID+" #dimensiones").attr({
                            'id': "dimensiones"+nuevoID
                        });

                        $("#Agregado"+nuevoID+" #valorparte").attr({
                            'id': "valorparte"+nuevoID
                        });

                        $.eventoResizable();
                        $.eventoTouch();
                        $.eventoDobleClick();
                       // $.eventoBotonActualizar();
                       // $.eventoBotonClonar();           
                       // $.eventoBotonEliminar(); 
                       // $.quitarRepetidos();
                       // $.eventoDialog();
                        
                    }
              
                }
              });
              
             $('.eliminarAccesorio').click(function(event){
              event.preventDefault();
              $.eliminarAccesorio($(this).attr('id'));
              $(this).parent().parent().hide('fade');
             }); 


             $.main(); 
            
         });
         
                
        $.main=function(){
                $.cargaPartes();
                $.cargarAccesorios();
        }


         $.cargaPartes= function(){
             
           $.ajax({
             url: "{{ path('web_Partes') }}",
             dataType: "text",
             success: function(data) {
                 $.actualizarPrecio();
                 var json = $.parseJSON(data);
                 for (var i in json) {
                       
                       $('#partesCat').append("<td style='width: 200px;'><div  class='ui-widget-content parts' style='font-size:10px ;height:"+json[i]['altoFrente']*3+"px; width:"+json[i]['anchoFrente']*3+"px;' id='"+json[i]['id']+"'> <a href='#' type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-align-justify'></span></a>"+ json[i]['descripcion'].toUpperCase() +"<br><div id='valorparte'>($..."+ json[i]['valor'].toFixed(1)+")</div> <div id='dimensiones'>"+json[i]['anchoFrente']+"x"+json[i]['altoFrente']+"</div></div></td>");
                       $('.parts').draggable({ 
                           revert: true, 
                           helper: "clone",
                           containment: 'window',
                           appendTo: "#mueble"
                       });   
              
                 }

             }
          });

         }



         
         $.recargarPartes = function(){
            //location.reload();
            $.ajax({
              url: rutaRecargada,
              dataType: 'text',
              success: function(data){
                

                $('#resultadosPrueba').empty();
                //$( ".dialogo" ).empty();
                var json = $.parseJSON(data);
                for(var i in json){
                  
                  $('#resultadosPrueba').append('<div class="ui-widget-content muebleParte cajas" style="font-size: 10px; position: absolute;top:'+json[i]['positionY']+'px; left:'+json[i]['positionX']+'px; height:'+json[i]['altoFrente']*4+'px; width:'+json[i]['anchoFrente']*4+'px" id="Agregado'+json[i]['id']+'"; ><a href="#" type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-justify"></span></a>  '+json[i]['descripcion'].toUpperCase()+' <div id="mensaje'+json[i]['id']+'">'+json[i]['anchoFrente'].toFixed(1)+'x'+json[i]['altoFrente'].toFixed(1)+' ($...'+json[i]['valor'].toFixed(1)+')</div>  <div id="dialog'+json[i]['id']+'" title="Editar Parte" class="dialogo"><p><strong> '+json[i]['descripcion'].toUpperCase()+' </strong> </p><form><fieldset> <div class="form-group"><label>Material Frente</label> <select id="materialFrente'+json[i]['id']+'">{% for lamina in laminas %} <option value="{{ lamina.id }}" {% if lamina.id == "'+json[i]['idMaterial']+'" %}selected{% endif %}>{{ lamina }}</option>{% endfor %}</select></div><div class="form-group"><label>Ancho Frente</label><input type="number" value="'+json[i]['anchoFrente'].toFixed(1)+'" id="anchoFrente'+json[i]['id']+'"></div><div class="form-group"><label>Alto Frente</label><input type="number" value="'+json[i]['altoFrente']+'" id="altoFrente'+json[i]['id']+'"></div><div class="form-group"><label>Material Lateral</label><select id="materialLateral'+json[i]['id']+'">{% for lamina in laminas %}<option value="{{ lamina.id }}" {% if lamina.id == "'+json[i]['idMaterialLateral']+'" %}selected{% endif %}>{{ lamina }}</option>{% endfor %}</select></div> <div class="form-group"><label>Ancho lateral</label><input type="number" value="'+json[i]['anchoLateral']+'" id="anchoLateral'+json[i]['id']+'"></div><div class="form-group">                       <label>Alto lateral</label>                       <input type="number" value="'+json[i]['altoLateral']+'" id="altoLateral'+json[i]['id']+'">                  </div>                   <div class="form-group">                       <label>Material Trasera</label>                       <select id="materialTrasera'+json[i]['id']+'">                       {% for lamina in laminas %}                          <option value="{{ lamina.id }}" {% if lamina.id == "'+json[i]['idMaterialTrasera']+'" %}selected{% endif %}>{{ lamina }}</option>                        {% endfor %}                       </select>                  </div>                  <div class="form-group">                       <label>Ancho Trasera</label>                       <input type="number" value="'+json[i]['anchoTrasera']+'" id="anchoTrasera'+json[i]['id']+'">                  </div>                  <div class="form-group">                       <label>Alto Trasera</label>                       <input type="number" value="'+json[i]['altoTrasera']+'" id="altoTrasera'+json[i]['id']+'">                  </div>                   <div class="form-group">                       <label>Material Fondo</label>                       <select id="materialFondo'+json[i]['id']+'">                        {% for lamina in laminas %}                          <option value="{{ lamina.id }}" {% if lamina.id == "'+json[i]['idMaterialFondo']+'"  %}selected{% endif %}>{{ lamina }}</option>                        {% endfor %}                        </select>                  </div>                  </fieldset>                  </form>                  <button type="button" class="btn btn-primary btn-lg btn-block actualizarParteMueble" id="actualizar'+json[i]['id']+'">Actualizar</button>                  <button type="button" class="btn btn-warning btn-lg btn-block clonarParteMueble" id="clonar'+json[i]['id']+'">Clonar</button>                  <button type="button" class="btn btn-danger btn-lg btn-block eliminame">Eliminar</button>                </div></div>');

                  $('.muebleParte').draggable();
                  $.eventoResizable();
                  $.eventoTouch();
                  $.eventoDobleClick();
                  $.eventoBotonActualizar();
                  $.eventoBotonClonar();           
                  $.eventoBotonEliminar(); 
                }
                  $.quitarRepetidos();
                  $.eventoDialog();

              }

            })
         }
         
         $.insertarPartes = function(parte,positionx,positiony){
         
            ruta = rutas.replace('idparteAgregada',parte);
            rutaAjustada1 = ruta.replace('px',positionx);
            rutaAjustada2 = rutaAjustada1.replace('py',positiony);
          
          var msg = $.ajax({type: "GET", url: rutaAjustada2, async: false}).responseText;
              console.log("El controlador devuelve la nueva parte "+msg);
              $.mensaje();
              $.actualizarPrecio();
              
         
           console.log("Hemos detectado el "+msg)
           return msg;
         }
        
         $.eliminarAccesorio = function(accesoriosMueble){
            var eliminaraccesoriomueble2 = eliminaraccesoriomueble.replace('AccesorioMueble',accesoriosMueble);
            $.get(eliminaraccesoriomueble2,function(data){
              console.log("Eliminado el accesorio del mueble");
            })
            $.actualizarPrecio();
         }

          $.actualizarPartes = function(parte, positionx, positiony){
              
              rutaAct = rutaActualizada.replace('parteid',parte);
              rutaAct1 = rutaAct.replace('px',positionx);
              rutaAct2 = rutaAct1.replace('py',positiony);
           
              $.get(rutaAct2,function(data, status){
                   $.mensaje(); //alert( "Data Loaded: " + data );
                   $.actualizarPrecio();
                   //$.recargarPartes(); 
              });
              
              
          }

          $.actualizarTamanyoPartes = function(parte, ancho, alto){
              actualizarRuta = actualizarParte.replace('muebleParte',parte);
              actualizarRuta2 = actualizarRuta.replace('ancho',ancho);
              actualizarRuta3 = actualizarRuta2.replace('alto',alto);

              $.get(actualizarRuta3,function(data,status){
                $.mensaje();
                $.actualizarPrecio();
               // $.recargarPartes();
              });
          }
          
          $.cargarAccesorios = function(){
            
              
            $.ajax({
             url: rutaAccesorios,
             //force to handle it as text
             dataType: "text",
             success: function(data) {
                 $.actualizarPrecio();
                 var json = $.parseJSON(data);
                 for (var i in json) {
                        
                   $('#listAccesorios').append("<li>"+json[i]['cantidad']+" "+json[i]['descripcion']+"</li>");
                   $.actualizarPrecio();
                   
                 }
             }
            });
              
          }
          
          $.eliminarPartes = function(parte){
              rutaElim = rutaEliminada.replace("elementoArrastrado",parte);
              $.get(rutaElim,function(data, status){
                 // alert("Eliminado");
                  $.actualizarPrecio();
              })
          }       
       
          $.actualizarPrecio = function(){
              $.get("{{ path('web_Calcular_Mueble', {'mueble': entity.id }) }}",function(data, status){
                  $('#precio').html(data);
                  var porcentaje = $('#incremento').val();
                  var precioBase = data.replace("$...","");
                  precioBase2 = parseInt(precioBase.replace(".",""));
                  var valorVenta = precioBase2 + (porcentaje * precioBase2)/100;

                  console.log("Porcentaje "+porcentaje+" precioBase "+precioBase2+" valorVenta: "+valorVenta);
                  $('#valorVenta').val(valorVenta);
              });
            }
        
          $('#incremento').change(function(){
               $.actualizarPrecio();
          })

          $('#valorVenta').change(function(){
              console.log("Precio base "+precioBase2);
              var porcentaje = (($(this).val() - precioBase2)/precioBase2)*100;
              console.log("Porcentaje obtenido: "+porcentaje);
              $('#incremento').val(porcentaje);
          })

          $.actualizarMueble = function(ancho,alto){
              rutaUno = rutaActuMueble.replace('anchomueble',ancho);
              rutaDos = rutaUno.replace('altomueble',alto)
              $.get(rutaDos,function(data,status){
                    
                    $.actualizarPrecio();  
                    $('#ancho').html(ancho);
                    $('#alto').html(alto);

              })
          }  
         
         function validateForm(accesorio){
             
             var x = document.forms["myForm"+accesorio+""]["Accesorio"+accesorio+""].value;
             rutaValidar = rutaInsertarAcc.replace('accInsertado',accesorio);
             
             rutaValidar2 = rutaValidar.replace('cantidad',x);
             
             $.ajax({
                    url: rutaValidar2,
                    type: "get",
                    success: function(response) {
                         $.mensaje();
                         $.mensajeFin(accesorio);
                         $('#listAccesorios').empty();
                         $.cargarAccesorios();
                        //alert("Agregando datos..."+accesorio+" cantidad "+ x +""+ response);
                        
                    }
                });
            
             console.log("revisar");
             return false;
         } 

       
         $.mensaje = function(){
             
                  notif({ 
                    msg: "<b>Correcto:</b> Guardando...",
                    type: "success",
                    timeout: 1500
                  });
         }
         
          $.mensajeFin = function(id){
             notif({ 
                    msg: "<b>Correcto:</b> Guardando...",
                    type: "success",
                    timeout: 1500
                  });
         }
         
         
         function draw_vertical_line(width, height, linecolor, xpos, ypos) {
                   
                   $('#linea').empty();
                    var posicionAjustada = 0;
                    for(i=1;i<diVertical;i++){

                       posicionAjustada = posicionAjustada+xpos;

                       var detalle = "<div style='width:"+width+"px; height:"+height+"px; background-color:"+linecolor+"; left:"+posicionAjustada+"px; top:"+ypos+"px; position:absolute'></div>";

                       $('#linea').append(detalle);

                    }


                }

                
        </script>
    
    
{% endblock %}