{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Muebles</h1>
      <a href="{{ path('muebles') }}" class="btn btn-success">
              Volver al Listado
      </a>
      <button type="button" class="btn btn-danger " data-toggle="modal" data-target="#myModal">
        Borrar
      </button>   
       <a href="{{ path('muebles_ajuste', { 'id': entity.id }) }}" class="btn btn-info"><i class="fa fa-search"></i></a>     
  <hr>   
 
 
{{ form_start(edit_form) }}
    
    <fieldset>
         <div class="col-lg-6">
                {{ form_row(edit_form.tipo) }}
         </div>
         <div class="col-lg-6">
            {{ form_row(edit_form.ref) }}
        </div>
        <div class="col-lg-6">
                {{ form_row(edit_form.tipoMueble) }}

        </div>
         <div class="col-lg-6">
            {{ form_row(edit_form.clientes) }}
        </div>
     </fieldset>
    <fieldset>

       
        
        <div class="col-lg-4">
            {{ form_row(edit_form.alto) }}
        </div>
        <div class="col-lg-4">
            {{ form_row(edit_form.ancho) }}
        </div>
        <div class="col-lg-4">
            {{ form_row(edit_form.profundidad) }}
        </div>
    </fieldset>
    <fieldset>
     
        <div class="col-lg-4">
            {{ form_row(edit_form.manoObraMetroCuadrado) }}
        </div>
        <div class="col-lg-4">
            {{ form_row(edit_form.diVertical) }}
        </div>
        <div class="col-lg-4">
            {{ form_row(edit_form.tipoPuerta) }}
        </div>
        
     </fieldset>   
   <fieldset>
        <div class="col-lg-4">
            {{ form_row(edit_form.materialLateral) }}
        </div>
         <div class="col-lg-4">
            {{ form_row(edit_form.flejeLateral) }}
        </div>
         <div class="col-lg-4">
            {{ form_row(edit_form.metrosFlejeLateral) }}
        </div>
    </fieldset>
    <fieldset>
        <div class="col-lg-4">
            {{ form_row(edit_form.materialTrasera) }}
        </div>
         <div class="col-lg-4">
            {{ form_row(edit_form.flejeTrasera) }}
        </div>
         <div class="col-lg-4">
            {{ form_row(edit_form.metrosFlejeTrasera) }}
        </div>
    </fieldset>
    <fieldset>
        <div class="col-lg-4">
            {{ form_row(edit_form.materialFondo) }}
        </div>
         <div class="col-lg-4">
            {{ form_row(edit_form.flejeFondo) }}
        </div>
         <div class="col-lg-4">
            {{ form_row(edit_form.metrosFlejeFondo) }}
        </div>
    </fieldset>
    <fieldset>    
        <div class="col-lg-4">
            {{ form_row(edit_form.materialTapa) }}
        </div>
         <div class="col-lg-4">
            {{ form_row(edit_form.flejeTapa) }}
        </div>
         <div class="col-lg-4">
            {{ form_row(edit_form.metrosFlejeTapa) }}
        </div>
    </fieldset>
                
    {{ form_end(edit_form) }}

            </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Desea borrar?</h4>
      </div>
      <div class="modal-body">
        {{ form(delete_form) }}
      </div>
     
    </div>
  </div>
</div>
     <script>  
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="add_tag_link btn btn-warning btn-sm">Añadir Partes</a>');
        var $newLinkLi = $('<div class="col-lg-12"></div>').append($addTagLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('div.tags');
            
            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });
        
        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<div class="thumbnail col-lg-3"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>').append(newForm);
            $newLinkLi.before($newFormLi);
            addTagFormDeleteLink($newFormLi);
        }
        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<hr><a class="btn btn-danger btn-sm" href="#">Borrar</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // evita crear el enlace con una "#" en la URL
                e.preventDefault();

                // quita el li de la etiqueta del formulario
                $tagFormLi.remove();
            });
        }
</script>

<script>  
        var $collectionHolder2;

        // setup an "add a tag" link
        var $addTagLink2 = $('<a href="#" class="add_tag_link2 btn btn-warning btn-sm">Añadir accesorios</a>');
        var $newLinkLi2 = $('<div class="col-lg-12"></div>').append($addTagLink2);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder2 = $('div.accesorios');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder2.append($newLinkLi2);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder2.data('index', $collectionHolder2.find(':input').length);

            $addTagLink2.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder2, $newLinkLi2);
            });
        });
        
        function addTagForm2($collectionHolder2, $newLinkLi2) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder2.data('prototype');

            // get the new index
            var index = $collectionHolder2.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm2 = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder2.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi2 = $('<div class="thumbnail col-lg-3"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>').append(newForm2);
            $newLinkLi2.before($newFormLi2);
        }
</script>

{% endblock %}   