{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Listado de Muebles</h1>
<a href="{{ path('muebles_new') }}" class="btn btn-success">
                Crear Nuevo
            </a>
                <hr>
<div class="table-responsive" style="border:0px solid black;width:auto;height:auto;overflow-y:scroll;overflow-x:scroll;">
    <table class="table" id="muebles">
        <thead>
            <tr>
                <th>No.</th>
                <th>Estado</th>
                <th>Tipo</th>
                <th>Clase</th>
                <th>Ref</th>
                <th>Ancho x Alto x Profundidad</th>
                <th>Esp</th>
                <th>Puerta</th>
                <th>Total producción</th>
                <th>Ajustar</th>
                <th>Copiar</th>
                <th>Editar</th>
                <th>Ver</th>
                <th>Mano Obra</th>
                <th>Coco</th>
                <th>Partes</th>
                <th>Accesorios</th>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('muebles_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
               <td align="center">{% if entity.estado == true %}<i class="fa fa-check-square fa-lg"></i>{% else %}<i class="fa fa-times fa-lg"></i>{% endif %}</td> 
                <td>{{ entity.tipoMueble|upper }}</td>
                <td>{{ entity.tipo|upper }}</td>
                <td>{{ entity.ref|upper }}</td>
                <td>{{ entity.ancho|number_format(1) }}x{{ entity.alto|number_format(1) }}x{{ entity.profundidad|number_format(1) }}</td>
                
                <td>{{ entity.diVertical }}</td>
                <td>{{ entity.tipoPuerta|upper }}</td>
               <td>$...{{ entity.valorTotal|number_format(2) }}</td>


                <td><a href="{{ path('muebles_ajuste', { 'id': entity.id }) }}" class="btn btn-info btn-sm"><i class="fa fa-search"></i></a></td>
                <td> <a href="{{ path('muebles_clonar', { 'mueble': entity.id }) }}" class="btn btn-danger btn-sm"><i class="fa fa-clipboard"></i></a></td>
                <td> <a href="{{ path('muebles_edit', { 'id': entity.id }) }}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a></td>
                <td><a href="{{ path('muebles_show', { 'id': entity.id }) }}" class="btn btn-success btn-sm"><i class="fa fa-search"></i></a></td>
                <td>$...{{ entity.manoObra|number_format(2) }}</td>
                <td>$...{{ (entity.valor-entity.manoObra)|number_format(2) }}</td>
                <td>$...{{ entity.valorTotalPartes|number_format(2) }}</td>
                <td>$...{{ entity.valorTotalAccesorios|number_format(2) }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
                </div>
       
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {% set ruta = path('web_Calcular_Mueble', {'mueble': 'valor' }) %}

          <script type="text/javascript">
         
           
    
        function calcular(id)
        {
            var xmlhttpMueble = new XMLHttpRequest();
               
		xmlhttpMueble.onreadystatechange = function() {
		    if (xmlhttpMueble.readyState == 4 && xmlhttpMueble.status == 200) {
		        document.getElementById(id).innerHTML = xmlhttpMueble.responseText;
			//myFunction(xmlhttpMueble.responseText);
		    }
		}
                
        var rutas = "{{ ruta  }}";
        rutaAjustada = rutas.replace('valor', id);
		xmlhttpMueble.open("GET", rutaAjustada, true);
		xmlhttpMueble.send();
            }
          </script>
          <script type="text/javascript">
                $(document).ready(function(){
                        $('#muebles').DataTable();
                    });
          </script>
    {% endblock %}    
