{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Crear Muebles</h1>
        <a href="{{ path('creacion_muebles') }}" class="btn btn-warning">
            Volver al Menú
        </a>
         <a href="{{ path('muebles') }}" class="btn btn-info">
            Volver al listado
        </a>
            <hr>
            <div class="col-lg-12">
    {{ form_start(form) }}
    
    <fieldset>
        <div class="col-lg-6">
            {{ form_row(form.tipo) }}
        </div>
         <div class="col-lg-6">
            {{ form_row(form.ref) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.clientes) }}
        </div>
         <div class="col-lg-6">
            {{ form_row(form.tipoMueble) }}
        </div>
       
    </fieldset>    
    <fieldset>
        
        <div class="col-lg-4">
            {{ form_row(form.alto) }}
        </div>
        <div class="col-lg-4">
            {{ form_row(form.ancho) }}
        </div>
         <div class="col-lg-4">
            {{ form_row(form.profundidad) }}
        </div>
    </fieldset>
    <fieldset>

        <div class="col-lg-4">
            {{ form_row(form.manoObraMetroCuadrado) }}
        </div>
        <div class="col-lg-4">
            {{ form_row(form.diVertical) }}
        </div>
        <div class="col-lg-4">
            {{ form_row(form.tipoPuerta) }}
        </div>
       
       
    </fieldset>
    <fieldset>
        <div class="col-lg-4">
            {{ form_row(form.materialLateral) }}
        </div>
         <div class="col-lg-4">
            {{ form_row(form.flejeLateral) }}
        </div>
        
    </fieldset>
    <fieldset>
        <div class="col-lg-4">
            {{ form_row(form.materialTrasera) }}
        </div>
         <div class="col-lg-4">
            {{ form_row(form.flejeTrasera) }}
        </div>
        
    </fieldset>
    <fieldset>
        <div class="col-lg-4">
            {{ form_row(form.materialFondo) }}
        </div>
         <div class="col-lg-4">
            {{ form_row(form.flejeFondo) }}
        </div>
        
    </fieldset>
    <fieldset>    
        <div class="col-lg-4">
            {{ form_row(form.materialTapa) }}
        </div>
         <div class="col-lg-4">
            {{ form_row(form.flejeTapa) }}
        </div>
         
    </fieldset>
   {# <fieldset> 
        <div class="col-md-12">
            <h3>AÑADE PARTES A TU MUEBLE</h3>
        </div>
                    <div class="tags col-md-12" data-prototype="{{ form_widget(form.partes.vars.prototype)|e }}">
                          <div class="col-md-6">{{ form_row(form.partes) }}</div> 
                    </div>
    </fieldset> 
    <fieldset> 
        <div class="col-md-12">
            <h3>AÑADE OTROS ACCESORIOS A TU MUEBLE</h3>
        </div><hr>
                    <div class="accesorios col-md-12" data-prototype="{{ form_widget(form.accesorios.vars.prototype)|e }}">
                          <div class="col-md-6">{{ form_row(form.accesorios) }}</div> 
                    </div>
                    <hr>
    </fieldset> #}               
    {{ form_end(form) }}

            </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
    $(document).ready(function(){
        $('#admin_adminbundle_muebles_tipo').change(function(){
            alert($(this).val());
            
            
        });
    });
    </script>


     <script>  
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="add_tag_link btn btn-warning btn-sm">Añadir Partes</a>');
        var $newLinkLi = $('<div class="col-lg-12"></div>').append($addTagLink);

        jQuery(document).ready(function() {

            //$('').change();

            // Get the ul that holds the collection of tags
            $collectionHolder = $('div.tags');
            
            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });
        
        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<div class="thumbnail col-lg-3"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>').append(newForm);
            $newLinkLi.before($newFormLi);
            addTagFormDeleteLink($newFormLi);
        }
        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<hr><a class="btn btn-danger btn-sm" href="#">Borrar</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // evita crear el enlace con una "#" en la URL
                e.preventDefault();

                // quita el li de la etiqueta del formulario
                $tagFormLi.remove();
            });
        }
</script>

<script>  
        var $collectionHolder2;

        // setup an "add a tag" link
        var $addTagLink2 = $('<a href="#" class="add_tag_link2 btn btn-warning btn-sm">Añadir accesorios</a>');
        var $newLinkLi2 = $('<div class="col-lg-12"></div>').append($addTagLink2);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder2 = $('div.accesorios');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder2.append($newLinkLi2);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder2.data('index', $collectionHolder2.find(':input').length);

            $addTagLink2.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder2, $newLinkLi2);
            });
        });
        
        function addTagForm2($collectionHolder2, $newLinkLi2) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder2.data('prototype');

            // get the new index
            var index = $collectionHolder2.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm2 = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder2.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi2 = $('<div class="thumbnail col-lg-3"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>').append(newForm2);
            $newLinkLi2.before($newFormLi2);
        }
</script>



{% endblock %}    