{% extends '::base.html.twig' %}
{% block stylesheets %}
{{ parent() }}

{% endblock %}

{% block body %}

    <h1>Muebles</h1>

   <div class="table-responsive"> 
<hr>
<p>DESPIECE</p>
<table class="table table-bordered" style="width: 90%">
        
            <tr style="text-align: center; font-weight: bold;">
                <td rowspan="2" style="vertical-align:middle">Descripción</td>
                <td colspan="2">Medidas</td>
                
                <td rowspan="2" style="vertical-align:middle">Calibre (mm)</td>
                <td rowspan="2" style="vertical-align:middle">Cantidad max</td>
                <td rowspan="2" style="vertical-align:middle">Material</td>
                <td rowspan="2" style="vertical-align:middle">Enchape (cm)</td>
                <td rowspan="2" style="vertical-align:middle">Valor Enchape</td>
                <td rowspan="2" style="vertical-align:middle">Valor Madera</td>
                <td rowspan="2" style="vertical-align:middle">Valor Total</td>
            </tr>
        
            <tr style="text-align: center; font-weight: bold;">
                
                <td>X</td>
                <td>Y</td>
                
                

            </tr>
            <tr style="text-align: center;">
                <td>Laterales (2)</td>
                
                <td>{{ entity.altoLateralReal }}</td>
                <td>{{ entity.anchoLateralReal }}</td>
                <td>{{ entity.materialLateral.espesor }}</td>
                <td>{{ entity.cantidadLateral }}</td>
                <td>{{ entity.materialLateral }}</td>
                <td>{{ entity.metrosFlejeLateral }}</td>
                <td>$...{{ entity.metrosFlejeLateral*entity.flejeLateral.valorMetrosLineal/100|number_format(1) }}</td>
                <td>$...{{ entity.valorLateral|number_format(1) }}</td>
                <td>$...{{ (entity.valorLateral+entity.metrosFlejeLateral*entity.flejeLateral.valorMetrosLineal/100)|number_format(1) }}</td>
                

            </tr>
            <tr style="text-align: center;">
                <td>Fondo</td>
                
                <td>{{ entity.altoTraseraReal }}</td>
                <td>{{ entity.anchoTraseraReal }}</td>
                <td>{{ entity.materialFondo.espesor }}</td>
                <td>{{ entity.cantidadTrasera }}</td>
                <td>{{ entity.materialTrasera }}</td>
                <td>{{ entity.metrosFlejeTrasera }}</td>
                 <td>$...{{ entity.metrosFlejeTrasera*entity.flejeTrasera.valorMetrosLineal/100|number_format(1) }}</td>
                <td>$...{{ entity.valorTrasera|number_format(1) }}</td>
                <td>$...{{ (entity.valorTrasera+entity.metrosFlejeTrasera*entity.flejeTrasera.valorMetrosLineal/100)|number_format(1) }}</td>

            </tr>
            <tr style="text-align: center;">
                <td>Tapa</td>
                
                <td>{{ entity.anchoTechoReal }}</td>
                <td>{{ entity.profundidadTechoReal }}</td>
                <td>{{ entity.materialTapa.espesor }}</td>
                <td>{{ entity.cantidadTecho }}</td>
                <td>{{ entity.materialTapa }}</td>
                <td>{{ entity.metrosFlejeTapa }}</td>
                 <td>$...{{ entity.metrosFlejeTapa*entity.flejeTapa.valorMetrosLineal/100|number_format(1) }}</td>
                <td>$...{{ entity.valorTecho|number_format(1) }}</td>
                <td>$...{{ (entity.valorTecho+entity.metrosFlejeTapa*entity.flejeTapa.valorMetrosLineal/100)|number_format(1) }}</td>

            </tr>
             <tr style="text-align: center;">
                <td>Piso</td>
                
                <td>{{ entity.anchoFondoReal }}</td>
                <td>{{ entity.profundidadFondoReal }}</td>
                <td>{{ entity.materialFondo.espesor }}</td>
                <td>{{ entity.cantidadFondo }}</td>
                <td>{{ entity.materialFondo }}</td>
                <td>{{ entity.metrosFlejeFondo }}</td>
                 <td>$...{{ entity.metrosFlejeFondo*entity.flejeFondo.valorMetrosLineal/100|number_format(1) }}</td>
                <td>$...{{ entity.valorFondo|number_format(1) }}</td>
                <td>$...{{ (entity.valorFondo+entity.metrosFlejeFondo*entity.flejeFondo.valorMetrosLineal/100)|number_format(1) }}</td>

            </tr>

           
       
</table>
</div>


<div class="col-lg-12">
    <table class="table" id="informacion" style="width:40%; margin-left: 150px">
        <tbody>
           

            <tr>
                <th>Ref</th>
                <td>{{ entity.ref }}</td>
            </tr>
             <tr>
                <th>Mano de Obra metro Cuadrado</th>
                <td>$ ...{{ entity.manoObraMetroCuadrado|number_format(2) }}</td>
            </tr>
            <tr>
                <th>Mano de Obra</th>
                <td>$ ...{{ entity.manoObra|number_format(2) }}</td>
            </tr> 
            <tr>
                <th>Valor Partes</th>
                <td>$ ...{{ entity.valorTotalPartes|number_format(2) }} (Ultimo calculado, actualice la página para verificar)</td>
            </tr>
            <tr>
                <th>Valor Material</th>
                <td>$ ...{{ (entity.valor-entity.manoObra)|number_format(2) }} (Ultimo calculado, actualice la página para verificar)</td>
            </tr>
            <tr>
                <th>Valor Accesorios</th>
                <td>$ ...{{ entity.valorTotalAccesorios|number_format(2) }} (Ultimo calculado, actualice la página para verificar)</td>
            </tr>
            
           
            <tr>
                <th>Alto</th>
                <td><div id="alto">{{ entity.alto }}</div></td>
            </tr>
            <tr>
                <th>Ancho</th>
                <td><div id="ancho">{{ entity.ancho }}</div></td>
            </tr>
            <tr>
                <th>Espacios verticales</th>
                <td>{{ entity.diVertical }}</td>
            </tr>
            <tr>
                <th>Tipopuerta</th>
                <td>{{ entity.tipoPuerta }}</td>
            </tr>
            <tr>
                <th>Profundidad</th>
                <td>{{ entity.profundidad }}</td>
            </tr>
           
            <tr>
                <th>Listado de Accesorios</th>
                <td>
                    {% for accesorios in entity.accesorios %}
                        {{ accesorios.cantidad }}  {{ accesorios.accesorios.descripcion }} ({{ accesorios.accesorios.valor }}) $ {{ accesorios.accesorios.valor*accesorios.cantidad }}<br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

        <a href="{{ path('muebles') }}" class="btn btn-info">
            Volver al listado
        </a>
        <a href="{{ path('muebles_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            Editar
        </a>
         





</div>




		


{% endblock %}

{% block javascripts %}
{{ parent() }}

{% set ruta = path('web_Partes_eliminar', {'parte': 'elementoArrastrado' }) %}
{% set rutaAgregar = path('web_insertar', {'idmueble': entity.id,'idparte': 'idparteAgregada', 'cantidad': '1', 'positionx': 'px', 'positiony': 'py' }) %}
{% set rutaActualizar = path('web_Partes_actualizar', {'parte': 'parteid','positionx': 'px', 'positiony': 'py' }) %}


        <script type="text/javascript">
                var xmlhttpEliminar = new XMLHttpRequest();
                var xmlhttpActualizar = new XMLHttpRequest();
                contador = 0;	
                
                //Llamada a las Partes standar de un mueble
	var xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange = function() {
		    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
		        //document.getElementById("partes").innerHTML = xmlhttp.responseText;
			myFunction(xmlhttp.responseText);
		    }
		}
		xmlhttp.open("GET", "{{ path('web_Partes') }}", true);
		xmlhttp.send();
	
                
        
        
                // calcular el valor de un Mueble
                var xmlhttpMueble = new XMLHttpRequest();
		xmlhttpMueble.onreadystatechange = function() {
		    if (xmlhttpMueble.readyState == 4 && xmlhttpMueble.status == 200) {
		        document.getElementById("valorTotal").innerHTML = xmlhttpMueble.responseText;
			//myFunction(xmlhttpMueble.responseText);
		    }
		}
		xmlhttpMueble.open("GET", "{{ path('web_Calcular_Mueble', {'mueble': entity.id }) }}", true);
		xmlhttpMueble.send();
        
        
                //Llamada a las Partes del mueble
                var xmlhttpPartes = new XMLHttpRequest();
                
		

		xmlhttpPartes.onreadystatechange = function() {
		    if (xmlhttpPartes.readyState == 4 && xmlhttpPartes.status == 200) {
		        //document.getElementById("partes").innerHTML = xmlhttp.responseText;
			//setInterval('contador()',1000);
                                                renderizarPartes(xmlhttpPartes.responseText);
		    }
		}
		xmlhttpPartes.open("GET", "{{ path('web_Partes_muebles', {'mueble': entity.id }) }}", true);
		xmlhttpPartes.send();    
    
    

		function myFunction(response) {
		    var arr = JSON.parse(response);
		    var i;
		    var out = "<table><tr style='vertical-align: top;'>";

		    for(i = 0; i < arr.length; i++) {
			out += "<td>"
			+arr[i].descripcion+"<br>$"+ arr[i].valor+"<br>"+arr[i].anchoFrente+"cm x"+arr[i].altoFrente+"cm"+"<div draggable='true' ondragstart='start(event)'  id='"+arr[i].id+"' style='height:"+arr[i].altoFrente*2+"px; width:"+arr[i].anchoFrente*2+"px; font-size: 10px"+"' class='drag' ondragend='end(event)'>"+arr[i].descripcion+"</div><br></td>"+
			"";
		    }
		    out += "</tr></table>"
		    document.getElementById("drag").innerHTML = out;
		}

                                function renderizarPartes(response) {
		    var arr = JSON.parse(response);
		    var i;
		    var out = "<table class='table'>";

		    for(i = 0; i < arr.length; i++) {
			out += "<tr><th>"
			+arr[i].descripcion+"</th><td>"+arr[i].cantidad+" <td></tr>";
		    }
		    out += "</table>";
		    document.getElementById("partesMueble").innerHTML = out;
		}



		function allowDrop(ev){
		    ev.preventDefault();		
		}

		function start(e) {
			e.dataTransfer.effecAllowed = 'move'; // Define el efecto como mover (Es el por defecto)
			e.dataTransfer.setData("Data", e.target.id); // Coje el elemento que se va a mover
			e.dataTransfer.setDragImage(e.target, 0, 0); // Define la imagen que se vera al ser arrastrado el elemento y por donde se coje el elemento que se va a mover (el raton aparece en la esquina sup_izq con 0,0)
			e.target.style.opacity = '0.4'; 
		}

		function end(e){
			e.target.style.opacity = ''; // Pone la opacidad del elemento a 1 			
			e.dataTransfer.clearData("Data");
		}

		function enter(e) {
			e.target.style.border = '0px dotted #555'; 
		}

		function leave(e) {
			e.target.style.border = ''; 
		}

		function over(e) {
			var elemArrastrable = e.dataTransfer.getData("Data"); // Elemento arrastrado
			var id = e.target.id; // Elemento sobre el que se arrastra
			
                        
                                               
			// return false para que se pueda soltar
			if (id == 'cuadro1'){
				return false; // Cualquier elemento se puede soltar sobre el div destino 1
			}

			if ((id == 'mueble') && (elemArrastrable != 'Agregado225')){
				return false; // En el cuadro2 se puede soltar cualquier elemento menos el elemento con id=arrastrable3
			}	

			if (id == 'cuadro3')
				return false;
	
			if (id == 'papelera')
				return false; // Cualquier elemento se puede soltar en la papelera
				
		}

    
		/**
		* 
		* Mueve el elemento
		*
		**/
		function drop(e){
                                               
			var elementoArrastrado = e.dataTransfer.getData("Data"); // Elemento arrastrado
			e.target.appendChild(document.getElementById(elementoArrastrado));
			e.target.style.border = '';  // Quita el borde
                                                var elementoArrastradoGuia = document.getElementById(e.dataTransfer.getData("Data")); // Elemento arrastrado
			
                                                var idparte = elementoArrastradoGuia.id;
                                                 
                                               // var x = elementoArrastradoGuia.offsetLeft;
                           //                     var y = elementoArrastradoGuia.offsetTop;
                        
                                                tamContX = $('#'+e.target.id).width();
			tamContY = $('#'+e.target.id).height();

			tamElemX = $('#'+elementoArrastrado).width();
			tamElemY = $('#'+elementoArrastrado).height();
 	
			posXCont = $('#'+e.target.id).position().left;
			posYCont = $('#'+e.target.id).position().top;

			// Posicion absoluta del raton
			x = e.layerX;
			y = e.layerY;

			// Si parte del elemento que se quiere mover se queda fuera se cambia las coordenadas para que no sea asi
			if (posXCont + tamContX <= x + tamElemX){
				x = posXCont + tamContX - tamElemX;
			}

			if (posYCont + tamContY <= y + tamElemY){
				y = posYCont + tamContY - tamElemY;
			}

			document.getElementById(elementoArrastrado).style.position = "absolute";
			document.getElementById(elementoArrastrado).style.left = x + "px";
			document.getElementById(elementoArrastrado).style.top = y + "px";
                        
                        
                        
                                                   xmlhttp.onreadystatechange = function() {
                                                        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                                            
                                                            //actualiza el listado
                                                                                                                                xmlhttpPartes.onreadystatechange = function() {
                                                                                                                                           if (xmlhttpPartes.readyState == 4 && xmlhttpPartes.status == 200) {
                                                                                                                                                   document.getElementById("alerta").innerHTML = xmlhttp.responseText;
                                                                                                                                                   elementoArrastradoGuia.id = "Agregado"+xmlhttp.responseText;
                                                                                                                                                   renderizarPartes(xmlhttpPartes.responseText);




                                                                                                                                                   ////actualizar 
                                                                                                                                                   xmlhttp.onreadystatechange = function() {
                                                                                                                                                       if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                                                                                                                                           //document.getElementById("partes").innerHTML = xmlhttp.responseText;
                                                                                                                                                           myFunction(xmlhttp.responseText);
                                                                                                                                                       }
                                                                                                                                                   }
                                                                                                                                                   xmlhttp.open("GET", "{{ path('web_Partes') }}", true);
                                                                                                                                                   xmlhttp.send();



                                                                                                                                                     xmlhttpMueble.onreadystatechange = function() {
                                                                                                                                                           if (xmlhttpMueble.readyState == 4 && xmlhttpMueble.status == 200) {
                                                                                                                                                               document.getElementById("valorTotal").innerHTML = xmlhttpMueble.responseText;
                                                                                                                                                               //myFunction(xmlhttpMueble.responseText);
                                                                                                                                                           }
                                                                                                                                                       }
                                                                                                                                                       xmlhttpMueble.open("GET", "{{ path('web_Calcular_Mueble', {'mueble': entity.id }) }}", true);
                                                                                                                                                       xmlhttpMueble.send();

                                                                                                                                               }
                                                                                                                                           }
                                                                                                                                                   xmlhttpPartes.open("GET", "{{ path('web_Partes_muebles', {'mueble': entity.id }) }}", true);
                                                                                                                                                   xmlhttpPartes.send();  

                                                                                                                                             
                                                                                                                            }
                                                                                                             }
                                                   
                                                    
                                                                                 var rutas = "{{ rutaAgregar  }}"
                                                                                 var rutaActualizada = "{{rutaActualizar  }}"
                                                                                ajuste =  idparte.substr(0,8).toString();
                                                                                if(ajuste === "Agregado"){
                                                                                    
                                                                                                console.log('prueba', 'problem '+ajuste)
                                                                                            
                                                                                                                        xmlhttpActualizar.onreadystatechange = function() {
                                                                                                                            if (xmlhttpActualizar.readyState == 4 && xmlhttpActualizar.status == 200) {
                                                                                                                                //document.getElementById("partes").innerHTML = xmlhttp.responseText;
                                                                                                                                // myFunction(xmlhttp.responseText);
                                                                                                                            }
                                                                                                                        }
                                                                                                                         rutaAjustada = rutaActualizada.replace('parteid', idparte)
                                                                                                                         rutaAjustada2 = rutaAjustada.replace('px', x)
                                                                                                                        rutaAjustada3 = rutaAjustada2.replace('py', y)
                                                                                                                        rutaAjustada4 = rutaAjustada3.replace('Agregado','')
                                                                                                 console.log('prueba', 'problem '+rutaAjustada4)                       
                                                                                                                        xmlhttpActualizar.open("GET",rutaAjustada4, true);
                                                                                                                        xmlhttpActualizar.send();
    
                                                                                }else{console.log('prueba', 'no hay lio'+ajuste)}
                                                                             
                                                                                rutaAjustada = rutas.replace('idparteAgregada', idparte)
                                                                                rutaAjustada2 = rutaAjustada.replace('px', x)
                                                                                rutaAjustada3 = rutaAjustada2.replace('py', y)
                                                                                xmlhttp.open("GET",rutaAjustada3, true);

                                                                                xmlhttp.send();
                                                    
                                                    
                                                    
                                                    
                                             
		}

		/**
		* 
		* Elimina el elemento que se mueve
		*
		**/
		function eliminar(e){
                    
                                        
			var elementoArrastrado = document.getElementById(e.dataTransfer.getData("Data")); // Elemento arrastrado
                             
                                                 
                                                                        xmlhttpEliminar.onreadystatechange = function() {
                                                                        if (xmlhttpEliminar.readyState == 4 && xmlhttpPartes.status == 200) {
         
                                                                                                        xmlhttpPartes.onreadystatechange = function() {
                                                                                                                    if (xmlhttpPartes.readyState == 4 && xmlhttpPartes.status == 200) {
                                                                                                                        //document.getElementById("partes").innerHTML = xmlhttp.responseText;
                                                                                                                        //setInterval('contador()',1000);
                                                                                                                                                renderizarPartes(xmlhttpPartes.responseText);
                                                                                                                    }
                                                                                                                }
                                                                                                        xmlhttpPartes.open("GET", "{{ path('web_Partes_muebles', {'mueble': entity.id }) }}", true);
                                                                                                        xmlhttpPartes.send();   
                                                                                                        
                                                                                                        xmlhttpMueble.onreadystatechange = function() {
                                                                                                            if (xmlhttpMueble.readyState == 4 && xmlhttpMueble.status == 200) {
                                                                                                                document.getElementById("valorTotal").innerHTML = xmlhttpMueble.responseText;
                                                                                                                //myFunction(xmlhttpMueble.responseText);
                                                                                                            }
                                                                                                        }
                                                                                                        xmlhttpMueble.open("GET", "{{ path('web_Calcular_Mueble', {'mueble': entity.id }) }}", true);
                                                                                                        xmlhttpMueble.send();
                                                                                                        
                                                                                                        
                                                                                                        
                                                                                                        
                                                                            }
                                                                        }
                                                                               
                                                                                var rutas = "{{ ruta  }}"
                                                                                var elemento = elementoArrastrado.id
                                                                                var idFiltrado = elemento.replace('Agregado','')
                                                                                rutaAjustada = rutas.replace('elementoArrastrado', idFiltrado)
                                                                                xmlhttpEliminar.open("GET", rutaAjustada, true)
                                                                                xmlhttpEliminar.send();  
                             
                             
			elementoArrastrado.parentNode.removeChild(elementoArrastrado); // Elimina el elemento
			e.target.style.border = '';   // Quita el borde
                        
                                                
                                                                       
                        
                        
		}

		/**
		* 
		* Clona el elemento que se mueve
		*
		**/
		function clonar(e){
                                                
			var elementoArrastrado = document.getElementById(e.dataTransfer.getData("Data")); // Elemento arrastrado

			elementoArrastrado.style.opacity = ''; // Dejamos la opacidad a su estado anterior para copiar el elemento igual que era antes

			var elementoClonado = elementoArrastrado.cloneNode(true); // Se clona el elemento
			elementoClonado.id = "ElemClonado" + contador; // Se cambia el id porque tiene que ser unico
			contador += 1;	
	
			e.target.appendChild(elementoClonado); // Se aÃ±ade el elemento clonado
			e.target.style.border = '';   // Quita el borde del "cuadro clonador"
                        
                        
                        
                                                
                        
                                                 xmlhttp.onreadystatechange = function() {
                                                        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                                            
                                                            //actualiza el listado
                                                             xmlhttpPartes.onreadystatechange = function() {
                                                                        if (xmlhttpPartes.readyState == 4 && xmlhttpPartes.status == 200) {
                                                                                document.getElementById("alerta").innerHTML = xmlhttp.responseText;
                                                                                elementoClonado.id = "Agregado"+xmlhttp.responseText;
                                                                                renderizarPartes(xmlhttpPartes.responseText);
                                                                            }
                                                                        }
                                                                                xmlhttpPartes.open("GET", "{{ path('web_Partes_muebles', {'mueble': entity.id }) }}", true);
                                                                                xmlhttpPartes.send();  
                                                                                
                                                                          }
                                                    }
                                                   {# ruta = {{ path('web_insertar',{ 'idmueble': entity.id , 'idparte':'idpartFin', 'cantidad':'1' }) }};
                                                    var rutaArreglada = ruta.replace('idpartFin',elementoArrastrado.id);
                                                    xmlhttp.open("GET", "{{ path('web_insertar',{ 'idmueble': entity.id , 'idparte':elementoArrastrado.id, 'cantidad':2 }) }}", true);#}
                                                    str = "http://localhost/proyectos/multikloset/web/app_dev.php/admin/service/agregar/"+{{  entity.id }}+"/"+elementoArrastrado.id+"/1";       
                                                    xmlhttp.open("GET",str, true);
                                                   
                                                    xmlhttp.send();
                                                    
                                               
                                                     
		}
                  
                  
                  
                  
                  
	</script>
{% endblock %}